@import url("https://fonts.googleapis.com/css?family=Montserrat:400,600&display=swap");
/* Color Variables */
/* Media */
/* Classes */
/* Mixin */
ul {
  list-style-type: none;
}

.noSelect, .qty span {
  -webkit-user-select: none;
  -moz-user-select: none;
  -khtml-user-select: none;
  -ms-user-select: none;
}

.whiteBg, .top50 {
  background: #fff;
}

.whiteBgCurved, .navBarDropDown .dropDownContent, .menu > ul > li .subMenu, section .whiteBgFlex, .resultsFilter, .itemsListing .item, .filter, .disclaimer, .productImages, .productInformation, .productWeight, .priceCart, .nutritionInfo, .detailTabs, .note, .reviews, .cartContent, .priceDetails, .applyPromocode, .checkoutPanel, .accountLinks, .myAccountContent, .pointsInfo,
.addAddress, .storeCredit, .addressList .savedAddress {
  background: #fff;
  border-radius: 0.25rem;
}

.btnGradient, section .whiteBgFlex .heading .center a, .btnCustom, .itemsListing .item .buttons a:last-child, .importer a {
  background: #ffda85;
  background: -webkit-gradient(linear, left top, left bottom, from(#ffda85), to(#e8a74b));
  background: linear-gradient(to bottom, #ffda85 0%, #e8a74b 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffda85', endColorstr='$yellow', GradientType=0);
}

.btnGradientOrange, .priceCart .addtoCartBtn a, .buttonContainer a, .btnContainer a.orange, .checkoutPanel .content.login .email a,
.checkoutPanel .content.login .password a, .checkoutPanel .content.payment .payOptions .custom-control .verifyMobileNumner button, .checkoutPanel .custom-control label a.button, .loginContainer .lineInput button, .couponsContainer .coupon div.copy, .thankyou a {
  color: #333;
  background: #FF7045;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #FDA576), to(#FF7045));
  background: linear-gradient(to bottom, #FDA576 0, #FF7045 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FDA576', endColorstr='#FF7045', GradientType=0);
  -webkit-box-shadow: 0 0 2px rgba(0, 0, 0, 0.5);
          box-shadow: 0 0 2px rgba(0, 0, 0, 0.5);
}

.btnGradientOrange:hover, .priceCart .addtoCartBtn a:hover, .buttonContainer a:hover, .btnContainer a.orange:hover, .checkoutPanel .content.login .email a:hover,
.checkoutPanel .content.login .password a:hover, .checkoutPanel .content.payment .payOptions .custom-control .verifyMobileNumner button:hover, .checkoutPanel .custom-control label a.button:hover, .loginContainer .lineInput button:hover, .couponsContainer .coupon div.copy:hover, .thankyou a:hover {
  color: #333;
}

.btnGradientGray, .itemsListing .item .buttons a:first-child, .btnContainer a.gray, .darkBg a {
  background: #D4D4D4;
  background: -webkit-gradient(linear, left top, left bottom, from(#EDEDED), to(#D4D4D4));
  background: linear-gradient(to bottom, #EDEDED 0%, #D4D4D4 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#EDEDED', endColorstr='#D4D4D4', GradientType=0);
}

/* CSS Start */
* {
  font-family: 'Montserrat', sans-serif;
  color: #515151;
}

a {
  color: #2F73C2;
  -webkit-transition: opacity 0.2s ease-in;
  transition: opacity 0.2s ease-in;
}

a:hover, a:active, a:focus {
  text-decoration: none;
}

a:hover,
button:hover {
  opacity: .85;
  color: #2F73C2;
}

html {
  font-size: 12px;
}

@media only screen and (min-width: 992px) {
  html {
    font-size: 13px;
  }
}

@media only screen and (min-width: 1200px) {
  html {
    font-size: 14px;
  }
}

@media only screen and (min-width: 1400px) {
  html {
    font-size: 15px;
  }
}

body {
  background: #F1F3F6;
  padding-top: 6.0546875rem;
}

body.noScroll {
  overflow: hidden;
}

@media only screen and (min-width: 992px) {
  .noPadDesktop {
    padding: 0;
  }
}

.per35 {
  width: 35%;
}

.per40 {
  width: 40%;
}

.per50 {
  width: 50%;
}

.per90 {
  width: 90%;
}

.per100 {
  width: 100%;
}

.noPadRight {
  padding-right: 0 !important;
}

.noPadLeft {
  padding-left: 0 !important;
}

.noPadTop {
  padding-top: 0 !important;
}

.noPadBottom {
  padding-bottom: 0 !important;
}

.noMarRight {
  margin-right: 0 !important;
}

.noMarLeft {
  margin-left: 0 !important;
}

.posUnset {
  position: unset !important;
}

header {
  background: #232A37;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 999;
}

.navbar-brand img {
  width: 8.12rem;
}

@media only screen and (max-width: 991px) {
  .navbar-collapse > .col-12 {
    padding-left: 0;
  }
}

.navbar-light .navbar-nav .nav-link {
  color: #fff;
  font-size: 0.875rem;
  text-transform: uppercase;
  font-weight: 600;
  padding: 0 .8rem;
  line-height: 2.5rem;
}

@media only screen and (max-width: 991px) {
  .navbar-light .navbar-nav .nav-link {
    padding: 0 .4rem;
  }
}

.navbar-light .navbar-nav .nav-link:hover {
  color: #fff;
}

.navbar-light .navbar-nav .nav-link:active, .navbar-light .navbar-nav .nav-link:focus {
  color: #fff;
}

.navbar-light .navbar-nav .nav-link .iconCart {
  position: relative;
  width: 1.2rem;
  height: 1.2rem;
  background: url(../images/iconCart.svg) no-repeat center center;
  background-size: 1.2rem;
  margin-right: .625rem;
  float: left;
  margin-top: .625rem;
}

.navbar-light .navbar-nav .nav-link .iconCart em {
  position: absolute;
  top: -.5rem;
  right: -.5rem;
  background: #e14d43;
  border-radius: 50%;
  width: .8rem;
  height: .8rem;
  font-size: .6rem;
  text-align: center;
  line-height: .9rem;
  font-style: normal;
  color: #fff;
}

.navbar-light .navbar-nav .active > .nav-link {
  color: #fff;
}

.navbar-light .nav-item.dropdown {
  position: unset;
}

.navbar-light .nav-item.dropdown.show > a {
  position: relative;
  color: #fff;
}

.navbar-light .nav-item.dropdown.show > a::before {
  position: absolute;
  content: "";
  width: 0;
  height: 0;
  top: 100%;
  left: 50%;
  margin-left: -1.4rem;
  border-left: .8rem solid transparent;
  border-right: .8rem solid transparent;
  border-bottom: 0.8rem solid #fff;
}

.navbar-light .nav-item.dropdown .dropdown-menu {
  padding-top: 1rem;
}

.navbar-light .formHeader {
  position: relative;
}

.navbar-light .formHeader .form-control {
  width: 20rem;
  border: none;
  height: 2.5rem;
  font-size: .875rem;
  padding: .375rem .75rem .375rem 2.5rem;
}

@media only screen and (min-width: 992px) {
  .navbar-light .formHeader .form-control {
    width: 20rem;
  }
}

@media only screen and (min-width: 1200px) {
  .navbar-light .formHeader .form-control {
    width: 33rem;
  }
}

@media only screen and (min-width: 1400px) {
  .navbar-light .formHeader .form-control {
    width: 36rem;
  }
}

@media only screen and (max-width: 991px) {
  .navbar-light .formHeader .form-control {
    width: 15rem;
  }
}

@media only screen and (max-width: 800px) {
  .navbar-light .formHeader .form-control {
    width: 13rem;
  }
}

.navbar-light .formHeader .btn {
  position: absolute;
  top: 0;
  left: 0;
  width: 2.5rem;
  height: 2.5rem;
  padding: .5rem;
}

.navbar-light .formHeader .btn img {
  width: 1.2rem;
  margin-top: -.3rem;
}

.navBarDropDown {
  top: 2.5rem;
  left: 8rem;
  right: 8rem;
  background-color: transparent;
  border: none;
}

@media only screen and (max-width: 991px) {
  .navBarDropDown {
    left: 1rem;
    right: 1rem;
  }
}

@media only screen and (min-width: 992px) {
  .navBarDropDown {
    left: 2rem;
    right: 2rem;
  }
}

@media only screen and (min-width: 1400px) {
  .navBarDropDown {
    left: 8rem;
    right: 8rem;
  }
}

.navBarDropDown .dropDownContent {
  -webkit-box-shadow: 0 0.1rem 0.6rem rgba(0, 0, 0, 0.1);
  -ms-box-shadow: 0 0.1rem 0.6rem rgba(0, 0, 0, 0.1);
  box-shadow: 0 0.1rem 0.6rem rgba(0, 0, 0, 0.1);
}

.navBarDropDown .dropDownContent .row {
  margin: 0;
}

.navBarDropDown .dropDownContent .tabs li {
  border-bottom: solid 1px #f1f1f1;
}

.navBarDropDown .dropDownContent .tabs li a {
  font-size: 1rem;
  color: #333;
  line-height: 3rem;
  display: block;
  background: url(../images/chevron-right.svg) no-repeat 93% 50%;
  background-size: .5rem;
  cursor: pointer;
  padding: 0 1.5rem;
}

.navBarDropDown .dropDownContent .tabs li a.active {
  background: url(../images/chevron-right-active.svg) no-repeat 93% 50%;
  background-size: .5rem;
  color: #e14d43;
  position: relative;
}

.navBarDropDown .dropDownContent .tabs li a.active:after {
  position: absolute;
  content: "";
  right: -1px;
  top: 0;
  height: 100%;
  width: 2px;
  background: #fff;
  z-index: 2;
}

.navBarDropDown .tabContent {
  display: none;
  padding: .9375rem 1.5rem;
  border-left: solid 1px #f1f1f1;
}

.navBarDropDown .tabContent.active {
  display: block;
}

.navBarDropDown .tabContent h4 {
  font-weight: 600;
  font-size: .875rem;
  text-transform: uppercase;
}

.navBarDropDown .tabContent ul {
  margin-bottom: 1.875rem;
}

.navBarDropDown .tabContent ul li a {
  color: #515151;
  font-size: .875rem;
  line-height: 1.875rem;
}

.navBarDropDown .tabContent ul li a:hover {
  color: #e14d43;
}

.navBarDropDown .searchBrand {
  padding: .9375rem;
}

.navBarDropDown .searchBrand input {
  border: none;
  border-bottom: solid 1px #f1f1f1;
  width: 100%;
  font-size: .875rem;
  height: 2.5rem;
  padding-left: 2rem;
  background-image: url(../images/iconsSearchDark.svg);
  background-repeat: no-repeat;
  background-position: 0 50%;
  background-size: 1.25rem;
}

.navBarDropDown .slider {
  width: 100%;
  min-height: 250px;
  display: block;
  position: relative;
  background: #fff;
  overflow: hidden;
  padding-bottom: .9375rem;
  overflow-y: auto;
}

.navBarDropDown .slider::-webkit-scrollbar {
  width: .6rem;
}

.navBarDropDown .slider::-webkit-scrollbar-track {
  background: #fff;
}

.navBarDropDown .slider::-webkit-scrollbar-thumb {
  background: #ddd;
  border-radius: 0.355rem;
}

.navBarDropDown .slider::-webkit-scrollbar-thumb:hover {
  background: #999;
}

.navBarDropDown .slider ul {
  list-style-type: none;
}

.navBarDropDown .slider-content {
  float: left;
  width: 100%;
  display: block;
  overflow: auto;
  min-height: 250px;
  font-size: .875rem;
}

.navBarDropDown .slider-content::-webkit-scrollbar {
  width: .6rem;
}

.navBarDropDown .slider-content::-webkit-scrollbar-track {
  background: #fff;
}

.navBarDropDown .slider-content::-webkit-scrollbar-thumb {
  background: #ddd;
  border-radius: 0.355rem;
}

.navBarDropDown .slider-content::-webkit-scrollbar-thumb:hover {
  background: #999;
}

.navBarDropDown .slider-content ul {
  float: left;
  width: 100%;
  display: block;
  position: relative;
}

.navBarDropDown .slider-content ul li {
  float: left;
  width: 100%;
}

.navBarDropDown .slider-content ul ul li a {
  padding: 0 .9375rem;
  display: block;
  color: #515151;
  line-height: 28px;
}

.navBarDropDown .slider-content ul ul li a:hover {
  color: #e14d43;
}

.navBarDropDown .slider-content .title {
  padding: 5px 0;
  text-indent: .9375rem;
  color: #333;
  width: 100%;
  float: left;
  font-weight: bold;
  text-transform: uppercase;
}

.navBarDropDown .slider .slider-nav {
  position: absolute;
  right: .3rem;
  top: 0;
  padding-right: .45rem;
  min-height: 250px;
  z-index: 3;
}

.navBarDropDown .slider .slider-nav ul {
  padding: 0;
  height: 100%;
  width: 1.2rem;
}

.navBarDropDown .slider .slider-nav ul li {
  padding: .3125rem 0;
  height: 3.84%;
}

.navBarDropDown .slider .slider-nav ul li a {
  font-size: .75rem;
  display: block;
  text-align: center;
  line-height: 1;
  text-align: center;
  color: #333;
  font-weight: bold;
  display: block;
  text-transform: uppercase;
  cursor: pointer;
}

.navBarDropDown .slider .slider-nav ul li a:hover {
  color: #e14d43;
}

.navBarDropDown .slider #debug {
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 5px;
  background: #333;
  color: #fff;
}

.navBarDropDown .slider .arrow {
  font-size: 0px;
  line-height: 0%;
  width: 0px;
  border-bottom: 8px solid #fff;
  border-left: 5px solid #333;
  border-right: 5px solid #333;
  position: relative;
  top: 5px;
}

.navBarDropDown .slider .down {
  border-bottom: none;
  border-top: 8px solid #fff;
  top: .9375rem;
}

.navBarDropDown .slider .slide-up,
.navBarDropDown .slider .slide-down {
  height: 20px;
  background: #232A37;
  text-align: center;
  cursor: pointer;
  float: right;
  width: 100%;
  position: relative;
}

.navBarDropDown .brandList .brandSort ul {
  border-bottom: solid 1px #f1f1f1;
  padding: 0 1.5rem;
}

.navBarDropDown .brandList .brandSort ul li {
  display: inline-block;
  padding: 0 1.5rem;
}

.navBarDropDown .brandList .brandSort ul li a {
  margin-top: .5rem;
  line-height: 2.8rem;
  display: block;
  cursor: pointer;
}

.navBarDropDown .brandList .brandSort ul li a.active {
  position: relative;
  color: #e14d43;
}

.navBarDropDown .brandList .brandSort ul li a.active:after {
  position: absolute;
  content: "";
  right: -1px;
  bottom: 0;
  height: 2px;
  width: 100%;
  background: #e14d43;
  z-index: 2;
}

.navBarDropDown .brandList .brandShow {
  padding: .9375rem 1.5rem;
  display: none;
  overflow-y: auto;
}

.navBarDropDown .brandList .brandShow::-webkit-scrollbar {
  width: .6rem;
}

.navBarDropDown .brandList .brandShow::-webkit-scrollbar-track {
  background: #fff;
}

.navBarDropDown .brandList .brandShow::-webkit-scrollbar-thumb {
  background: #ddd;
  border-radius: 0.355rem;
}

.navBarDropDown .brandList .brandShow::-webkit-scrollbar-thumb:hover {
  background: #999;
}

.navBarDropDown .brandList .brandShow.active {
  display: block;
}

.navBarDropDown .brandList .brandShow .col-md-4 {
  min-height: 6rem;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navBarDropDown .brandList .brandShow .col-md-4 img {
  max-width: 12rem;
  display: inline-block;
}

.searchBrandDD {
  border-right: solid 1px #f1f1f1;
  padding-left: .25rem;
}

.menu {
  padding: 0 1.5rem;
}

.menu > ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0;
}

.menu > ul > li {
  display: inline-block;
  position: relative;
  z-index: 9;
}

.menu > ul > li > a {
  font-size: .875rem;
  color: #fff;
  line-height: 2.5rem;
}

.menu > ul > li[data-type="subMenu"]:hover::before {
  position: absolute;
  content: "";
  width: 0;
  height: 0;
  bottom: 0;
  left: 50%;
  margin-left: -.5rem;
  border-left: .5rem solid transparent;
  border-right: .5rem solid transparent;
  border-bottom: 0.5rem solid #fff;
}

.menu > ul > li[data-type="subMenu"] a {
  padding-right: 1rem;
  background: url(../images/iconDownArrowWhite.svg) no-repeat right 60%;
  background-size: .625rem .3rem;
}

.menu > ul > li .subMenu {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  min-width: 15rem;
  width: auto;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-shadow: 0 0.1rem 0.6rem rgba(0, 0, 0, 0.1);
  -ms-box-shadow: 0 0.1rem 0.6rem rgba(0, 0, 0, 0.1);
  box-shadow: 0 0.1rem 0.6rem rgba(0, 0, 0, 0.1);
  padding: .9375rem 0;
}

.menu > ul > li .subMenu ul {
  display: inline-block;
}

.menu > ul > li .subMenu ul li {
  font-size: .875rem;
}

.menu > ul > li .subMenu ul li strong,
.menu > ul > li .subMenu ul li a {
  display: block;
  white-space: nowrap;
  padding: 0 1rem;
  line-height: 2rem;
  color: #333;
}

.menu > ul > li .subMenu ul li strong {
  font-size: .8rem;
}

.menu > ul > li .subMenu ul li a:hover {
  background: #f1f1f1;
  color: #e14d43;
}

.menu > ul > li:hover .subMenu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

section {
  padding: 15px;
  padding-bottom: 0;
  position: relative;
}

section.heroBanner {
  padding: 0;
}

section .whiteBgFlex {
  overflow: hidden;
  position: relative;
  padding-left: 11rem;
}

section .whiteBgFlex .heading {
  position: absolute;
  left: 0;
  top: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 11rem;
}

section .whiteBgFlex .heading .center {
  display: inline-block;
  text-align: center;
}

section .whiteBgFlex .heading .center h4 {
  text-transform: uppercase;
  font-size: 1rem;
  font-weight: 600;
}

section .whiteBgFlex .heading .center a {
  display: inline-block;
  font-size: .75rem;
  color: #333;
  padding: 0 .875rem;
  line-height: 2rem;
  border-radius: 0.25rem;
}

.sliderResponsive {
  padding-right: 2.8rem;
  padding-top: 1.9rem;
  padding-bottom: 1.9rem;
}

.sliderResponsive .slick-prev {
  display: none !important;
}

.carousel-control-next,
.carousel-control-prev {
  width: 8%;
}

.carousel-control-next-icon,
.carousel-control-prev-icon {
  width: 3.5rem;
  height: 3.5rem;
}

.carousel-control-prev-icon {
  background-image: url(../images/carouselLeftArrow.svg);
}

.carousel-control-next-icon {
  background-image: url(../images/carouselRightArrow.svg);
}

.newUserZone {
  background: #58677d;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #58677d), to(#212b3c));
  background: linear-gradient(to bottom, #58677d 0, #212b3c 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#58677d', endColorstr='#212b3c', GradientType=0);
  border-radius: 0.25rem;
  text-align: center;
  font-weight: 600;
  padding: 1.4rem;
  text-align: center;
}

.newUserZone .heading span {
  background: #fff;
  -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
          box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
  font-size: 1rem;
  line-height: 2.5rem;
  padding: 0 1.25rem;
  border-radius: 1.2rem;
  display: inline-block;
}

@media only screen and (max-width: 800px) {
  .newUserZone .heading span {
    padding: 0 .5rem;
  }
}

.couponBg {
  display: inline-block;
  margin: 30px 0;
  max-width: 22rem;
  width: 100%;
  height: 8.25rem;
  background: url(../images/newUSerCouponBg.svg) no-repeat center center;
  background-size: 100% auto;
  padding: 25px 0 25px 8.8rem;
  font-size: 1.25rem;
  font-weight: 600;
  line-height: 1.3;
}

@media only screen and (max-width: 800px) {
  .couponBg {
    padding-left: 4rem;
    font-size: .8rem;
  }
}

.couponBg .big {
  font-weight: 600;
  font-size: 2rem;
}

@media only screen and (max-width: 800px) {
  .couponBg .big {
    font-size: 1.5rem;
  }
}

.btnCustom {
  display: inline-block;
  color: #333;
}

.btnCustom.big {
  height: 2.5rem;
  line-height: 2.5rem;
  padding: 0 1.875rem;
  font-size: 1.125rem;
  border-radius: 20px;
}

.btnCustom:hover {
  color: #333;
}

.item {
  display: inline-block;
  min-width: 8.125rem;
  margin: 0 .625rem;
  font-size: .875rem;
  text-align: center;
  color: #333;
}

.item .rank {
  position: absolute;
  top: 10px;
  left: 10px;
  background: #f5a623;
  font-size: 14px;
  padding: 3px 5px;
  border-radius: 2px;
  color: #fff;
}

.item > a {
  display: block;
  color: #333;
  font-size: .875rem;
}

.item > a p {
  margin-top: .625rem;
}

.price {
  padding: 6px 0;
  color: #515151;
  font-size: .875rem;
}

.price span {
  color: #333;
  font-weight: 600;
  margin-left: 3px;
}

.price span.strike {
  color: #999;
  font-weight: 400;
  text-decoration: line-through;
}

.ratingView .rating {
  display: inline-block;
  width: 70px;
  height: 14px;
  position: relative;
  margin: 0 2px -2px 0;
}

.ratingView a {
  display: inline-block;
  color: #2F73C2;
  font-weight: 600;
  font-size: 12px;
}

.ratingView .rating::after {
  content: "";
  position: absolute;
  height: 100%;
  left: 0;
  top: 0;
  background: url(../images/starFill.svg) repeat-x left center;
  background-size: 14px 12px;
}

.ratingView .rating::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background: url(../images/starEmpty.svg) repeat-x left center;
  background-size: 14px 12px;
}

.rating[data-rating="0.1"]:after {
  width: 2%;
}

.rating[data-rating="0.2"]:after {
  width: 4%;
}

.rating[data-rating="0.3"]:after {
  width: 6%;
}

.rating[data-rating="0.4"]:after {
  width: 8%;
}

.rating[data-rating="0.5"]:after {
  width: 10%;
}

.rating[data-rating="0.6"]:after {
  width: 12%;
}

.rating[data-rating="0.7"]:after {
  width: 14%;
}

.rating[data-rating="0.8"]:after {
  width: 16%;
}

.rating[data-rating="0.9"]:after {
  width: 18%;
}

.rating[data-rating="1"]:after {
  width: 20%;
}

.rating[data-rating="1.1"]:after {
  width: 22%;
}

.rating[data-rating="1.2"]:after {
  width: 24%;
}

.rating[data-rating="1.3"]:after {
  width: 26%;
}

.rating[data-rating="1.4"]:after {
  width: 28%;
}

.rating[data-rating="1.5"]:after {
  width: 30%;
}

.rating[data-rating="1.6"]:after {
  width: 32%;
}

.rating[data-rating="1.7"]:after {
  width: 34%;
}

.rating[data-rating="1.8"]:after {
  width: 36%;
}

.rating[data-rating="1.9"]:after {
  width: 38%;
}

.rating[data-rating="2"]:after {
  width: 40%;
}

.rating[data-rating="2.1"]:after {
  width: 42%;
}

.rating[data-rating="2.2"]:after {
  width: 44%;
}

.rating[data-rating="2.3"]:after {
  width: 46%;
}

.rating[data-rating="2.4"]:after {
  width: 48%;
}

.rating[data-rating="2.5"]:after {
  width: 50%;
}

.rating[data-rating="2.6"]:after {
  width: 52%;
}

.rating[data-rating="2.7"]:after {
  width: 54%;
}

.rating[data-rating="2.8"]:after {
  width: 56%;
}

.rating[data-rating="2.9"]:after {
  width: 58%;
}

.rating[data-rating="3"]:after {
  width: 60%;
}

.rating[data-rating="3.1"]:after {
  width: 62%;
}

.rating[data-rating="3.2"]:after {
  width: 64%;
}

.rating[data-rating="3.3"]:after {
  width: 66%;
}

.rating[data-rating="3.4"]:after {
  width: 68%;
}

.rating[data-rating="3.5"]:after {
  width: 70%;
}

.rating[data-rating="3.6"]:after {
  width: 72%;
}

.rating[data-rating="3.7"]:after {
  width: 74%;
}

.rating[data-rating="3.8"]:after {
  width: 76%;
}

.rating[data-rating="3.9"]:after {
  width: 78%;
}

.rating[data-rating="4"]:after {
  width: 80%;
}

.rating[data-rating="4.1"]:after {
  width: 82%;
}

.rating[data-rating="4.2"]:after {
  width: 84%;
}

.rating[data-rating="4.3"]:after {
  width: 86%;
}

.rating[data-rating="4.4"]:after {
  width: 88%;
}

.rating[data-rating="4.5"]:after {
  width: 90%;
}

.rating[data-rating="4.6"]:after {
  width: 92%;
}

.rating[data-rating="4.7"]:after {
  width: 94%;
}

.rating[data-rating="4.8"]:after {
  width: 96%;
}

.rating[data-rating="4.9"]:after {
  width: 98%;
}

.rating[data-rating="5"]:after {
  width: 100%;
}

.sliderResponsive,
.imageGallery,
.slider-thumbs {
  display: none;
}

.loading {
  text-align: center;
  padding: 7.5rem 0;
}

.slick-initialized {
  display: block;
}

.slick-initialized ~ .loading {
  display: none;
}

.slick-prev,
.slick-next {
  position: absolute;
  margin-top: -2.5rem;
  height: 5rem;
  width: 2.75rem;
  border: none;
  z-index: 9;
}

.slick-prev {
  top: 50%;
  left: 0;
  background: #fff url(../images/iconArrowLeft.svg) no-repeat center center;
  background-size: .8rem;
  border-radius: 0 0.25rem 0.25rem 0;
  -webkit-box-shadow: 3px 0 5px rgba(0, 0, 0, 0.2);
  -ms-box-shadow: 3px 0 5px rgba(0, 0, 0, 0.2);
  box-shadow: 3px 0 5px rgba(0, 0, 0, 0.2);
}

.slick-next {
  top: 50%;
  right: 0;
  background: #fff url(../images/iconArrowRight.svg) no-repeat center center;
  background-size: .8rem;
  border-radius: 0.25rem 0 0 0.25rem;
  -webkit-box-shadow: -3px 0 5px rgba(0, 0, 0, 0.2);
  -ms-box-shadow: -3px 0 5px rgba(0, 0, 0, 0.2);
  box-shadow: -3px 0 5px rgba(0, 0, 0, 0.2);
}

.popularBrands {
  padding: .9375rem;
}

.popularBrands a {
  display: block;
}

@media only screen and (max-width: 991px) {
  .popularBrands a {
    padding: .5rem 2rem;
  }
}

@media only screen and (min-width: 992px) {
  .popularBrands a {
    padding: 1rem 1.2rem;
  }
}

.popularBrands a img {
  width: 100%;
}

.trendingSearch {
  padding: 1rem 0;
}

.trendingSearch a {
  display: inline-block;
  padding: 0 1.5rem 0 3rem;
  line-height: 2.5rem;
  border: solid 1px #f1f1f1;
  font-size: 1rem;
  margin: 1rem;
  color: #333;
  background-image: url(../images/iconTrending.svg);
  background-repeat: no-repeat;
  background-position: .6rem .45rem;
  background-size: 1.5rem;
  border-radius: 0.25rem;
}

.trendingSearch a:hover {
  background-color: #f1f1f1;
}

.banners .row {
  margin: 0 -7px;
}

.banners .row .col-md-4 {
  padding: 0 7px;
}

.banners .row .col-md-4 img {
  border-radius: 0.25rem;
}

.topOfPage {
  background: #232A37;
  padding: .9375rem;
  text-align: center;
  cursor: pointer;
  margin-top: .9375rem;
}

.topOfPage figure {
  margin-bottom: .2rem;
}

.topOfPage p {
  margin: .15rem 0;
  color: #fff;
  font-size: .875rem;
}

footer {
  background: #232A37;
  padding: 2rem;
  position: relative;
}

footer:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background: rgba(0, 0, 0, 0.25);
  z-index: 0;
}

footer h4 {
  color: #999;
  font-weight: 600;
  font-size: 1rem;
}

footer ul li a {
  color: #fff;
  font-size: .875rem;
  line-height: 2rem;
}

footer address {
  color: #fff;
  font-size: .875rem;
}

.flexGrow1st, .orderDetails > h5 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.flexGrow1st > div, .orderDetails > h5 > div,
.flexGrow1st > nav,
.orderDetails > h5 > nav,
.flexGrow1st > span,
.orderDetails > h5 > span {
  display: inline-block;
}

.flexGrow1st > div:first-child, .orderDetails > h5 > div:first-child,
.flexGrow1st > nav:first-child,
.orderDetails > h5 > nav:first-child,
.flexGrow1st > span:first-child,
.orderDetails > h5 > span:first-child {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.flexGrow2nd {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.flexGrow2nd > div,
.flexGrow2nd > nav,
.flexGrow2nd > span {
  display: inline-block;
}

.flexGrow2nd > div:first-child,
.flexGrow2nd > nav:first-child,
.flexGrow2nd > span:first-child {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.resultsFilter {
  margin: .9375rem 0;
  padding: .9375rem;
}

.resultsFilter .sortBy {
  margin-top: .3rem;
}

.resultsFilter .sortBy ul {
  margin: 0;
}

.resultsFilter .sortBy ul li {
  display: inline-block;
  font-size: .875rem;
  padding-right: 1rem;
}

.resultsFilter .sortBy ul li a {
  color: #333;
  padding: .15rem 0;
  border-bottom: solid 1px #fff;
}

.resultsFilter .sortBy ul li a.active {
  border-color: #e14d43;
  color: #e14d43;
}

.breadcrumb {
  background: transparent;
  margin: 0;
  padding: 0;
}

.breadcrumb .breadcrumb-item a {
  color: #333;
}

.breadcrumb .breadcrumb-item a:hover {
  color: #e14d43;
}

.breadcrumb .breadcrumb-item.active {
  color: #333;
  font-weight: 600;
}

.itemsListing .row {
  margin: 0 -7.5px;
}

.itemsListing .row .col-lg-3 {
  padding: 0 7.5px;
  margin-bottom: .9375rem;
}

.itemsListing .item {
  border: solid 1px #fff;
  padding: 1rem;
  margin: 0;
  position: relative;
}

.itemsListing .item img {
  max-width: 100%;
}

.itemsListing .item p {
  margin-bottom: .625rem;
}

.itemsListing .item .veg {
  position: absolute;
  top: .625rem;
  right: .625rem;
  width: 1rem;
  height: 1rem;
  background: url(../images/veg.svg) no-repeat center center;
  background-size: 100%;
}

.itemsListing .item .buttons {
  position: absolute;
  bottom: 1px;
  left: 2px;
  right: 2px;
  background: #fff;
  display: none;
}

.itemsListing .item .buttons a {
  float: left;
  width: 50%;
  line-height: 2.5rem;
  text-align: center;
  font-size: .875rem;
  color: #333;
  border-radius: 0.25rem;
}

.itemsListing .item .buttons a:first-child {
  margin-right: 1px;
  margin-left: -1px;
}

.itemsListing .item .buttons a:last-child {
  margin-right: -1px;
}

.itemsListing .item:hover {
  border-color: #f5a623;
  -webkit-box-shadow: 0 0 5px #f5a623;
  -ms-box-shadow: 0 0 5px #f5a623;
  box-shadow: 0 0 5px #f5a623;
}

.itemsListing .item:hover .buttons {
  display: block;
}

.filter {
  margin-right: -.9375rem;
}

.filter .purchaseProtection {
  padding: .9375rem;
}

.filter h4 {
  font-size: .875rem;
  margin: 0 0 10px;
}

.filter h4 span {
  font-weight: 600;
}

.filter h4 a {
  font-size: .75rem;
}

.filter > h4 {
  padding: .9375rem;
  margin: 0;
}

.filter .selectedFilters {
  padding: 0 .9375rem 5px;
  border-bottom: solid 1px #f1f1f1;
}

.filter .selectedFilters span {
  display: inline-block;
  margin-right: .75rem;
  margin-bottom: .75rem;
  background: #f1f1f1 url(../images/filterCross.svg) no-repeat 0.75rem 50%;
  background-size: .75rem;
  border: solid 1px #f1f1f1;
  font-size: .875rem;
  padding: 0 1rem 0 2rem;
  line-height: 2rem;
  border-radius: 0.25rem;
  cursor: pointer;
}

.filter .preference {
  padding: .9375rem;
  border-bottom: solid 1px #f1f1f1;
}

.filter .categories {
  padding: .9375rem;
  border-bottom: solid 1px #f1f1f1;
}

.filter .categories ul.tree li {
  line-height: 30px;
  border: none;
}

.filter .categories ul.tree li ul {
  margin-left: .9375rem;
  margin-bottom: 0;
}

.filter .categories ul.tree li a {
  display: block;
  color: #333;
}

.filter .categories ul.tree li a.active {
  color: #e14d43;
}

.filter .brands {
  padding: .9375rem;
  border-bottom: solid 1px #f1f1f1;
}

.filter .brands .searchBrand {
  padding-bottom: 10px;
}

.filter .brands .searchBrand input {
  border: none;
  border-bottom: solid 1px #999;
  width: 100%;
  font-size: 1rem;
  height: 2.5rem;
  padding-left: 2rem;
  background-image: url(../images/iconsSearchDark.svg);
  background-repeat: no-repeat;
  background-position: 0 50%;
  background-size: 1.25rem;
}

.filter .brands .brandSelect {
  height: 200px;
  overflow-y: scroll;
}

.filter .brands .brandSelect::-webkit-scrollbar {
  width: .6rem;
}

.filter .brands .brandSelect::-webkit-scrollbar-track {
  background: #fff;
}

.filter .brands .brandSelect::-webkit-scrollbar-thumb {
  background: #ddd;
  border-radius: 0.355rem;
}

.filter .brands .brandSelect::-webkit-scrollbar-thumb:hover {
  background: #999;
}

.custom-checkbox {
  padding-top: .5rem;
  padding-bottom: .5rem;
  padding-left: 2rem;
}

.custom-checkbox .custom-control-label {
  display: block;
}

.custom-checkbox .custom-control-label:before, .custom-checkbox .custom-control-label:after {
  top: .15rem;
  left: -1.8rem;
  width: 1.2rem;
  height: 1.2rem;
}

.banner {
  border-radius: 0.25rem;
}

.disclaimer {
  padding: .9375rem;
}

.disclaimer h4 {
  font-size: 1.125rem;
  font-weight: 600;
}

.disclaimer p {
  font-size: .875rem;
  line-height: 1.375rem;
}

nav.productPage {
  padding: .9375rem .9375rem 0;
}

nav.productPage .breadcrumb-item {
  font-size: .75rem;
}

nav.productPage .breadcrumb-item a {
  color: #515151;
}

nav.productPage .breadcrumb-item + .breadcrumb-item:before {
  width: .45rem;
  height: .45rem;
  opacity: .6;
  content: "";
  background: url(../images/iconArrowRight.svg) no-repeat left center;
  background-size: auto 100%;
}

.productImages .loading {
  padding: 19.4rem 0;
}

@media only screen and (min-width: 1400px) {
  .imageGallery {
    padding: 2rem 0;
  }
}

.imageGallery .slick-slide {
  text-align: center;
}

.slider-thumbs.slick-initialized .slick-slide {
  float: left;
  margin: .625rem;
  border: solid 1px #fff;
}

.slider-thumbs.slick-initialized .slick-slide.slick-center {
  border: solid 1px #e14d43;
  border-radius: 0.25rem;
  -webkit-box-shadow: 0 0 5px #e14d43;
  -ms-box-shadow: 0 0 5px #e14d43;
  box-shadow: 0 0 5px #e14d43;
}

.slider-thumbs.slick-initialized .slick-slide.slick-center img {
  border-radius: 0.25rem;
}

.productInformation {
  padding: .9375rem;
  font-size: .875rem;
  height: 46.5rem;
  overflow-y: scroll;
}

.productInformation::-webkit-scrollbar {
  width: .5rem;
}

.productInformation::-webkit-scrollbar-track {
  background: #fff;
}

.productInformation::-webkit-scrollbar-thumb {
  background: #ddd;
  border-radius: 0.355rem;
}

.productInformation::-webkit-scrollbar-thumb:hover {
  background: #999;
}

@media only screen and (max-width: 991px) {
  .productInformation {
    margin: .9375rem 0;
  }
}

.productInformation h3 {
  font-size: 1.125rem;
  font-weight: 600;
  margin: .25rem 0 .5rem 0;
}

.productInformation .offer {
  margin: .75rem 0;
  color: #417505;
}

.productInformation p {
  margin: .75rem 0;
}

.productInformation hr {
  margin: .75rem 0;
}

.productInformation h4 {
  font-weight: 600;
  font-size: .875rem;
}

.countDownTimer {
  color: #417505;
}

.countDownTimer span {
  color: #417505;
}

.productWeight {
  padding: .9375rem;
  font-size: .875rem;
}

.productWeight .weight {
  -webkit-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
}

.productWeight .weight h4 {
  font-weight: 600;
  font-size: .875rem;
}

.productWeight .weight h4 span {
  font-weight: 400;
}

.productWeight .weight .selectWeight {
  margin: .75rem 0;
}

.productWeight .weight .selectWeight label {
  margin: .3rem .5rem .3rem 0;
}

.productWeight .weight .selectWeight label span {
  display: inline-block;
  padding: .5rem 1rem;
  border: solid 2px #f1f1f1;
  border-radius: 0.25rem;
  font-weight: 600;
  cursor: pointer;
}

.productWeight .weight .selectWeight label input {
  position: absolute;
  opacity: 0;
}

.productWeight .weight .selectWeight label input:checked + span {
  border: solid 2px #e14d43;
  color: #e14d43;
}

.productWeight .weight.height {
  height: 8rem;
  overflow: hidden;
  max-height: 8rem;
}

.productWeight .seeMore {
  display: block;
  text-align: center;
  margin-top: 10px;
  padding: 5px 0 0;
  cursor: pointer;
}

.productWeight .seeMore span {
  color: #2F73C2;
}

.productWeight .seeMore img {
  width: .75rem;
  height: .625rem;
  opacity: .6;
  margin: -.1rem 0 0 .2rem;
  -webkit-transition: transform 0.2s 0.1s ease-in;
  -webkit-transition: -webkit-transform 0.2s 0.1s ease-in;
  transition: -webkit-transform 0.2s 0.1s ease-in;
  transition: transform 0.2s 0.1s ease-in;
  transition: transform 0.2s 0.1s ease-in, -webkit-transform 0.2s 0.1s ease-in;
}

.productWeight .seeMore.active img {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.priceCart {
  padding: .9375rem;
  font-size: .875rem;
  margin-top: .9375rem;
}

.priceCart .price {
  line-height: 1rem;
}

.priceCart .price .old {
  color: #999;
  text-decoration: line-through;
  font-size: 1rem;
}

.priceCart .price .new {
  color: #c00;
  font-size: 1.2rem;
}

.priceCart .qty {
  padding-top: .25rem;
}

.priceCart .qty span {
  border: none;
  line-height: 1.3rem;
}

.priceCart .qty select {
  border-radius: 0.25rem;
}

.priceCart p {
  margin: .5rem 0 0;
}

.priceCart p.saved {
  font-weight: 600;
}

.priceCart p.saved span {
  color: #c00;
  font-weight: 600;
}

.priceCart .addtoCartBtn {
  padding-top: 1.3rem;
}

.priceCart .addtoCartBtn a {
  display: block;
  text-align: center;
  font-size: 1.2rem;
  padding: 0 .875rem;
  line-height: 2.4rem;
  border-radius: 0.25rem;
}

.nutritionInfo {
  padding: .9375rem;
  font-size: .875rem;
  margin-top: .9375rem;
  height: 15.3rem;
  overflow-y: scroll;
}

.nutritionInfo::-webkit-scrollbar {
  width: .5rem;
}

.nutritionInfo::-webkit-scrollbar-track {
  background: #fff;
}

.nutritionInfo::-webkit-scrollbar-thumb {
  background: #ddd;
  border-radius: 0.355rem;
}

.nutritionInfo::-webkit-scrollbar-thumb:hover {
  background: #999;
}

.nutritionInfo ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.nutritionInfo ul li {
  padding: .2rem 0;
}

.detailTabs {
  padding: .9375rem;
  font-size: .875rem;
  margin-top: .9375rem;
}

.detailTabs .col-md-10 {
  position: static;
}

.detailTabs .borderBottom {
  border-bottom: solid 1px #f1f1f1;
}

.detailTabs #proDetailTabs {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.detailTabs #proDetailTabs li {
  display: inline-block;
  padding-right: 3rem;
}

.detailTabs #proDetailTabs li a {
  display: block;
  cursor: pointer;
  line-height: 2.5rem;
  font-size: 1.125rem;
  border-bottom: 2px solid #fff;
}

.detailTabs #proDetailTabs li a.active {
  color: #e14d43;
  border-color: #e14d43;
}

.detailTabs .targetContent {
  display: none;
  padding: .9375rem 0 0;
  font-size: 1rem;
  line-height: 1.5;
  max-height: 20rem;
  overflow: hidden;
  -webkit-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
}

.detailTabs .targetContent.heightAuto {
  max-height: none;
  padding-bottom: 3rem;
  -webkit-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
}

.detailTabs .targetContent .readMore {
  position: absolute;
  width: 100%;
  left: 0;
  bottom: 0;
  display: block;
  text-align: center;
  padding: 5px 0 0;
  cursor: pointer;
  line-height: 3rem;
  background: #fff;
  text-transform: uppercase;
  -webkit-box-shadow: 0 -10px 10px rgba(0, 0, 0, 0.25);
  -ms-box-shadow: 0 -10px 10px rgba(0, 0, 0, 0.25);
  box-shadow: 0 -10px 10px rgba(0, 0, 0, 0.25);
}

.detailTabs .targetContent .readMore img {
  width: .85rem;
  height: .725rem;
  opacity: .6;
  margin: -.1rem 0 0 .2rem;
  -webkit-transition: transform 0.2s 0.1s ease-in;
  -webkit-transition: -webkit-transform 0.2s 0.1s ease-in;
  transition: -webkit-transform 0.2s 0.1s ease-in;
  transition: transform 0.2s 0.1s ease-in;
  transition: transform 0.2s 0.1s ease-in, -webkit-transform 0.2s 0.1s ease-in;
}

.detailTabs .targetContent .readMore.active img {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.note {
  padding: .9375rem;
  font-size: .875rem;
}

.note h4 {
  font-size: .875rem;
  font-weight: 600;
}

.reviews {
  padding: .9375rem 3rem;
  font-size: .875rem;
}

.reviews h3 {
  text-align: center;
  font-size: 1.125rem;
  text-transform: uppercase;
  font-weight: 600;
  line-height: 2;
  margin-bottom: 1rem;
}

.reviews .reviewLogin {
  padding: 1rem 0;
  text-align: right;
  border-top: solid 1px #f1f1f1;
  border-bottom: solid 1px #f1f1f1;
}

.reviews .reviewLogin .btn {
  border: solid 1px #f1f1f1;
  color: #515151;
}

.reviews .reviewLogin .dropdown-item {
  padding: .25rem 1rem;
}

.reviews .reviewLogin .dropdown-item figure {
  display: inline-block;
  width: 1.15rem;
  height: 1.15rem;
  margin-right: .5rem;
  text-align: center;
}

.reviews .reviewLogin .dropdown-item figure svg {
  height: 100%;
}

.reviewSummary {
  padding: 2rem 0;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.reviewSummary .summary .ratingView .rating {
  width: 7.5rem;
  height: 1.315625rem;
}

.reviewSummary .summary .ratingView .rating::after {
  background: url(../images/starFillBig.svg) repeat-x left center;
}

.reviewSummary .summary .ratingView .rating::before {
  background: url(../images/starEmptyBig.svg) repeat-x left center;
}

.reviewSummary .summary .ratingView .rating:after, .reviewSummary .summary .ratingView .rating:before {
  background-size: 1.5rem 1.315625rem;
}

.reviewSummary .summary .totalStarts {
  float: left;
  margin-top: 2rem;
  margin-right: 2rem;
  text-align: center;
}

.reviewSummary .summary .totalStarts h4 {
  font-size: 2.5rem;
}

.reviewSummary .summary .totalStarts p {
  font-size: .75rem;
  color: #999;
  margin-top: .65rem;
}

.reviewSummary .summary .ratingAccorgingStars {
  display: inline-block;
}

.reviewSummary .summary .ratingAccorgingStars ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: inline-block;
}

.reviewSummary .summary .ratingAccorgingStars ul li {
  float: left;
  clear: both;
  padding: .4rem;
}

.reviewSummary .summary .ratingAccorgingStars ul li div {
  float: left;
}

.reviewSummary .summary .ratingAccorgingStars ul li div.star {
  background: #999 url(../images/starWhite.svg) no-repeat 80% 47%;
  background-size: auto .75rem;
  padding: .1rem 1.5rem .1rem .5rem;
  color: #fff;
  border-radius: 0.75rem;
  line-height: 1.2;
}

.reviewSummary .summary .ratingAccorgingStars ul li div.starPercent {
  width: 10rem;
  height: 1.2rem;
  margin: 0 1rem;
  background: #f1f1f1;
  position: relative;
}

.reviewSummary .summary .ratingAccorgingStars ul li div.starPercent span {
  position: absolute;
  left: 0;
  top: 0;
  height: 1.2rem;
  display: block;
  background: #f5a623;
}

.reviewSummary .summary .ratingAccorgingStars ul li div.percent {
  text-align: right;
  width: 2.5rem;
  color: #999;
}

.reviewSummary .writeReviewBtn a {
  padding: 0 1.5rem;
  border: solid 2px #f5a623;
  color: #f5a623;
  border-radius: 0.25rem;
  line-height: 2.5;
  display: inline-block;
  font-size: 1rem;
  text-transform: uppercase;
  -webkit-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
}

.reviewSummary .writeReviewBtn a:hover {
  background: #f5a623;
  color: #fff;
}

.reviewSortby {
  border-bottom: solid 1px #f1f1f1;
}

.reviewSortby .heading div {
  display: inline-block;
  font-size: 1rem;
  font-weight: 600;
  line-height: 3;
  position: relative;
}

.reviewSortby .heading div:after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -3px;
  width: 100%;
  height: 1px;
  background: #2F73C2;
}

.reviewSortby .heading div span {
  color: #999;
  font-weight: 600;
}

.reviewSortby .sortBy .dropdown .btn {
  line-height: 3;
  padding: 0 .75rem;
  color: #515151;
}

.reviewSortby .sortBy .dropdown .dropdown-item {
  color: #515151;
  line-height: 2;
}

.userReview {
  border-bottom: solid 1px #f1f1f1;
  padding: 1.1rem 0;
}

.userReview .user .media img {
  width: 2.875rem;
  height: 2.875rem;
  border-radius: 50%;
}

.userReview .user .media h5 {
  font-size: .875rem;
  font-weight: 600;
}

.userReview .user .media h5 span {
  color: #999;
  display: inline-block;
  margin-left: .8rem;
}

.userReview .user .media .verifiedUser {
  display: inline-block;
  font-size: .875rem;
  margin-left: .25rem;
}

.userReview .user .media .verifiedUser span {
  font-weight: 600;
  color: #999;
  margin-left: .25rem;
}

.userReview .reviewRecommend {
  background: #f1f1f1;
  font-style: italic;
  height: 1.8rem;
  padding: 0 .8rem 0 .5rem;
  border-radius: 0.9rem;
  line-height: 1.8rem;
  color: #50bd8e;
  font-size: .75rem;
}

.userReview .reviewRecommend svg {
  margin-right: .35rem;
}

.userReview .comments {
  line-height: 1.5;
  padding: 1rem 0;
}

.userReview .reviewAttachments .attachments {
  display: inline-block;
  width: 4rem;
  margin-right: .3rem;
}

.userReview .reviewAttachments .attachments img {
  width: 100%;
}

.userReview .shareHelpful {
  padding-top: 1.5rem;
}

.userReview .shareHelpful .share .btn {
  border: solid 1px #f1f1f1;
  color: #515151;
  font-size: 1rem;
  padding: .2rem .75rem;
}

.userReview .shareHelpful .share .btn svg {
  margin-right: .25rem;
}

.userReview .shareHelpful .share .dropdown-item {
  padding: .25rem 1rem;
}

.userReview .shareHelpful .share .dropdown-item figure {
  display: inline-block;
  width: 1.15rem;
  height: 1.15rem;
  margin-right: .5rem;
  text-align: center;
}

.userReview .shareHelpful .share .dropdown-item figure svg {
  height: 100%;
}

.userReview .shareHelpful .wasHelpful {
  font-weight: 600;
  color: #999;
}

.userReview .shareHelpful .wasHelpful a {
  display: inline-block;
  margin-left: .8rem;
}

.userReview .shareHelpful .wasHelpful a span {
  color: #999;
  font-weight: 600;
}

nav .pagination {
  margin-top: 1.8rem;
}

nav .pagination .page-item .page-link {
  border: none;
  font-weight: 600;
  color: #999;
  position: relative;
}

nav .pagination .page-item .page-link:hover {
  background-color: transparent;
  color: #515151;
}

nav .pagination .page-item.active .page-link {
  background: none;
  color: #515151;
}

nav .pagination .page-item.active .page-link:after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 1rem;
  height: 2px;
  margin-left: -.5rem;
  background: #515151;
}

nav .pagination .page-item.disabled .page-link {
  opacity: .5;
}

.removedItemMsg {
  padding: 2rem .9375rem;
  font-size: .875rem;
  font-weight: 600;
}

.removedItemMsg a {
  font-weight: 600;
  color: #e14d43;
}

.emptyCartInfo {
  text-align: center;
  margin: 5rem 0;
}

.emptyCartInfo img {
  max-width: 12rem;
}

.emptyCartInfo p {
  font-size: .875rem;
  margin: 1rem 0;
}

.buttonContainer {
  text-align: center;
}

.buttonContainer a {
  display: inline-block;
  text-align: center;
  font-size: 1rem;
  padding: 0 1.5rem;
  line-height: 2.4rem;
  border-radius: 0.25rem;
}

.priceNdiscount {
  margin: 10px 0;
}

.priceNdiscount .big {
  color: #80170E;
  font-size: 1rem;
  font-weight: 600;
}

.priceNdiscount span {
  color: #80170E;
  font-size: .875rem;
}

.priceNdiscount span.strike {
  text-decoration: line-through;
  color: #999;
  font-size: .875rem;
}

.green {
  color: #417505 !important;
}

.cartContent h4 {
  font-size: .875rem;
  text-transform: uppercase;
  color: #515151;
  padding: 0 .9375rem;
  line-height: 3rem;
  border-bottom: solid 1px #f1f1f1;
  font-weight: 600;
}

.cartContent .media {
  padding: .9375rem;
  border-bottom: solid 1px #f1f1f1;
}

.cartContent .media .mr-3 {
  max-width: 9rem;
  margin-right: 1.5rem !important;
}

.cartContent .media .media-body h5 {
  font-size: 1.125rem;
}

.cartContent .media .media-body ul {
  list-style-type: none;
  padding: 0;
}

.cartContent .media .media-body ul li {
  margin: .1rem 0;
  font-size: .875rem;
}

.qty {
  display: inline-block;
}

.qty span {
  float: left;
  line-height: 2rem;
  padding: 0 .5rem;
  border: solid 1px #f1f1f1;
  font-size: .875rem;
}

.qty span.minus {
  background: #f1f1f1;
  border-radius: 4px 0 0 4px;
  cursor: pointer;
}

.qty span.value {
  padding: 0 .8rem;
}

.qty span.plus {
  background: #f1f1f1;
  border-radius: 0 4px 4px 0;
  cursor: pointer;
}

.action {
  display: inline-block;
}

.action .qty {
  float: left;
}

.action a {
  float: left;
  line-height: 2rem;
  margin-left: 2rem;
  font-weight: 600;
  color: #333;
}

.action a:hover {
  opacity: .7;
}

.btnContainer {
  padding: .9375rem;
  text-align: right;
  -webkit-box-shadow: 0 -5px 5px rgba(0, 0, 0, 0.15);
  -ms-box-shadow: 0 -5px 5px rgba(0, 0, 0, 0.15);
  box-shadow: 0 -5px 5px rgba(0, 0, 0, 0.15);
}

.btnContainer a {
  display: inline-block;
  text-align: center;
  font-size: 1.125rem;
  padding: 0 2.5rem;
  line-height: 2.4rem;
  border-radius: 0.25rem;
  margin-left: 1rem;
}

.btnContainer a.gray {
  color: #333;
}

.priceDetails h4 {
  font-size: .875rem;
  text-transform: uppercase;
  color: #999;
  padding: 0 .9375rem;
  line-height: 3rem;
  border-bottom: solid 1px #f1f1f1;
  font-weight: 600;
}

.priceDetails ul {
  padding: 0;
  padding-bottom: 1rem;
}

.priceDetails ul li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  padding: 0 .9375rem;
}

.priceDetails ul li span {
  display: inline-block;
  line-height: 2.2rem;
}

.priceDetails ul li span:first-child {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.priceDetails ul li.bold span {
  font-weight: 600;
}

.applyPromocode {
  position: relative;
}

.applyPromocode input.promocode {
  display: inline-block;
  width: 100%;
  height: 3.125rem;
  text-align: left;
  padding: 0 .9375rem;
  position: relative;
  font-size: 14px;
  border: none;
  background: transparent;
}

.applyPromocode button {
  position: absolute;
  width: 3.125rem;
  border: none;
  height: 3.125rem;
  top: 0;
  right: 0;
  background: url(../images/iconArrowDown.svg) no-repeat center center;
  background-size: .9375rem;
}

.applyPromocode button.active {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.applyPromocode .remove {
  position: absolute;
  line-height: 1rem;
  font-size: .75rem;
  color: #c00;
  top: 1rem;
  padding: 0 .5rem;
  right: 3.125rem;
  cursor: pointer;
  display: none;
}

.applyPromocode.promocodeAdded .remove {
  display: inline-block;
}

.applyPromocode .selectPromocode {
  display: none;
}

.applyPromocode .selectPromocode .custom-control {
  padding: 1rem 0 1rem 1.5rem;
  border-top: solid 1px #f1f1f1;
  padding-right: 1rem;
}

.applyPromocode .selectPromocode .custom-control label .pCode {
  display: inline-block;
  border: dashed 1px #999;
  padding: 2px 5px;
  margin-right: .625rem;
  border-radius: 4px;
  font-size: .875rem;
  margin-bottom: .5rem;
}

.applyPromocode .selectPromocode .custom-control label .pSave {
  color: #0a0;
  font-size: .875rem;
  margin-bottom: .5rem;
}

.applyPromocode .selectPromocode .custom-control label p {
  margin-top: .7rem;
  margin-bottom: 0;
  line-height: 1.2;
  font-size: .875rem;
}

.checkoutPanel {
  margin-bottom: .9375rem;
}

.checkoutPanel .cartContent {
  border-top: solid 1px #f1f1f1;
}

.checkoutPanel .cartContent .media {
  border: none;
}

.checkoutPanel h4 {
  display: block;
  margin: 0;
  padding: 0 .9375rem;
  line-height: 3rem;
  font-size: .875rem;
  font-weight: 600;
  text-transform: uppercase;
  border-radius: 0.25rem;
}

.checkoutPanel.active h4 {
  background: #4E5563;
  color: #fff;
}

.checkoutPanel.done h4 {
  position: relative;
}

.checkoutPanel.done h4:after {
  position: absolute;
  content: "";
  width: 3rem;
  height: 3rem;
  top: 0;
  right: 0;
  background: url(../images/doneBlack.svg) no-repeat center center;
  background-size: 1.2rem;
}

.checkoutPanel .content.login {
  padding: 2rem 0;
}

.checkoutPanel .content.login .googleLogin {
  display: inline-block;
  line-height: 2.5rem;
  font-size: 1rem;
  text-transform: uppercase;
  color: #333;
  border: solid 1px #333;
  padding: 0 1rem;
  margin-top: 2rem;
  border-radius: 0.25rem;
}

.checkoutPanel .content.login .googleLogin svg {
  margin-right: .5rem;
  margin-top: -.2rem;
}

.checkoutPanel .content.login input {
  width: 100%;
  border: none;
  border-bottom: solid 1px #999;
  line-height: 2.5rem;
  font-size: .875rem;
  margin-bottom: 1rem;
}

.checkoutPanel .content.login .or {
  padding-top: 2.5rem;
}

.checkoutPanel .content.login .email,
.checkoutPanel .content.login .password {
  display: inline-block;
  width: 100%;
  max-width: 20rem;
}

.checkoutPanel .content.login .email a,
.checkoutPanel .content.login .password a {
  display: inline-block;
  text-align: center;
  font-size: 1rem;
  width: 100%;
  line-height: 2.4rem;
  border-radius: 0.25rem;
}

.checkoutPanel .content.address {
  padding: 2rem 0 0;
}

.checkoutPanel .content.summary {
  padding: 2rem .9375rem;
}

.checkoutPanel .content.summary strong {
  color: #333;
}

.checkoutPanel .content.summary p {
  margin-bottom: 0;
}

.checkoutPanel .content.payment {
  padding: 0;
}

.checkoutPanel .content.payment .payOptions {
  margin: 1rem 0;
}

.checkoutPanel .content.payment .payOptions .custom-control {
  padding-top: 1rem;
  padding-bottom: 1rem;
  border-bottom: solid 1px #f1f1f1;
}

.checkoutPanel .content.payment .payOptions .custom-control .verifyContainer {
  padding: 1rem 0 1rem 1.8rem;
}

.checkoutPanel .content.payment .payOptions .custom-control p:first-child {
  margin-top: 0;
}

.checkoutPanel .content.payment .payOptions .custom-control .verifyMobileNumner {
  display: inline-block;
  margin: 1rem 1rem 1rem 0;
}

.checkoutPanel .content.payment .payOptions .custom-control .verifyMobileNumner input {
  float: left;
  width: 12rem;
  height: 2rem;
  border: solid 1px #999;
  border-radius: 4px;
  padding: 0 .625rem;
  font-size: .875rem;
}

.checkoutPanel .content.payment .payOptions .custom-control .verifyMobileNumner button {
  border: none;
  margin-left: .8rem;
  display: inline-block;
  text-align: center;
  font-size: .875rem;
  padding: 0 2rem;
  line-height: 2rem;
  border-radius: 0.25rem;
}

.checkoutPanel .custom-control label strong {
  color: #333;
}

.checkoutPanel .custom-control label a.button {
  display: inline-block;
  text-align: center;
  font-size: 1rem;
  padding: 0 3rem;
  margin-top: 1rem;
  cursor: pointer;
  line-height: 2.4rem;
  border-radius: 0.25rem;
}

.checkoutPanel .custom-control label p {
  margin-top: .7rem;
}

.pageTitleImage {
  text-align: center;
  padding: 1rem 0;
}

.addNewAddress h5 {
  border-top: solid 1px #f1f1f1;
  line-height: 3rem;
  margin: 0;
  padding: 0 .9375rem;
  margin-top: 2rem;
  font-size: 1rem;
}

.addNewAddress h5 img {
  width: 1rem;
  opacity: .5;
  margin-right: .5rem;
}

.custom-control-label {
  padding-left: 1.8rem;
}

.filter .custom-control-label {
  padding-left: 0;
}

.custom-checkbox.blue .custom-control-label {
  padding-left: 0;
}

.custom-control-label::before {
  border-color: #999;
  width: 1.2rem;
  height: 1.2rem;
  border-width: 0.125rem;
  top: .15rem;
  left: .1rem;
}

.custom-control-label::after {
  background: no-repeat center center;
  background-size: .7rem auto;
  top: .25rem;
  left: .2rem;
}

.custom-control-input:checked ~ .custom-control-label::before {
  color: #fff;
  border-color: #333;
  background-color: #fff;
}

.custom-radio .custom-control-input:checked ~ .custom-control-label::after {
  background-image: url(../images/radioAfter.svg);
}

.custom-checkbox .custom-control-input:checked ~ .custom-control-label::after {
  background-image: url(../images/checkboxAfter.svg);
}

.blue .custom-control-input:checked ~ .custom-control-label::before {
  color: #fff;
  border-color: #2F73C2;
  background-color: #2F73C2;
}

.blue .custom-control-input:checked ~ .custom-control-label::after {
  background-image: url(../images/checkboxAfterWhite.svg);
}

.custom-control-input:focus ~ .custom-control-label::before {
  -webkit-box-shadow: none;
  -ms-box-shadow: none;
  box-shadow: none;
}

.btnContainer.flexGrow1st, .orderDetails > h5.btnContainer {
  text-align: initial;
}

.offerIcon {
  display: inline-block;
  padding: .2rem .4rem;
  font-size: .625rem;
  border-radius: .25rem;
  font-weight: 600;
  background: #333;
  color: #fff;
}

.offerIcon img {
  width: .7rem;
  float: left;
  margin: .1rem .3rem 0 0;
}

.loginContainer {
  width: 100%;
  max-width: 24rem;
  display: inline-block;
  background: #fff;
  padding: 1rem 0;
  margin: 2rem 0;
}

.loginContainer h4 {
  font-size: 1.125rem;
  color: #333;
  margin: .7rem 0 1rem 0;
}

.loginContainer .socialLogin {
  padding: 1.25rem 2rem;
  text-align: center;
  margin: auto;
  width: 100%;
}

.loginContainer .socialLogin a {
  display: block;
  line-height: 2.75rem;
  clear: both;
  border: solid 2px #333;
  color: #333;
  font-size: 1rem;
  border-radius: 4px;
  font-weight: 600;
}

.loginContainer .socialLogin a img {
  height: 1.25rem;
  margin: -.2rem .625rem 0 0;
}

.loginContainer .or {
  margin-top: 1rem;
  font-weight: 600;
  font-style: italic;
  color: #999;
  font-size: 1.125rem;
}

.loginContainer .figureContainer {
  text-align: center;
  padding: 1rem 0;
}

.loginContainer .figureContainer img {
  max-width: 10rem;
}

.loginContainer p {
  padding: 2rem 2rem 0;
  text-align: left;
  margin: 0;
}

.loginContainer .lineInput {
  padding: 1.25rem 2rem;
  text-align: center;
  margin: auto;
}

.loginContainer .lineInput input {
  margin: .625rem auto;
  width: 100%;
  height: 2.5rem;
  border: none;
  font-size: 1rem;
  line-height: 2.5rem;
  border-bottom: solid 1px #999;
}

.loginContainer .lineInput button {
  width: 100%;
  height: 2.5rem;
  margin-top: 1.25rem;
  border: none;
  font-weight: 600;
  font-size: 1rem;
  border-radius: 4px;
  padding: 0 .625rem;
}

.loginContainer .lineInput .forgotPass {
  position: relative;
  margin: auto;
}

.loginContainer .lineInput .forgotPass a {
  position: absolute;
  top: 1.35rem;
  right: 0;
  font-size: .7rem;
  color: #e14d43;
}

.loginContainer .lineInput p {
  text-align: left;
  line-height: 1.2;
}

.userInfo {
  background: #333;
  padding: 0.9375rem;
  border-radius: 0.25rem;
  margin-bottom: 0.9375rem;
}

@media only screen and (max-width: 991px) {
  .userInfo .media {
    display: block;
    text-align: center;
  }
}

.userInfo .media img {
  width: 4rem;
}

@media only screen and (max-width: 991px) {
  .userInfo .media img {
    margin: 0 0 1rem;
  }
}

.userInfo .media .media-body {
  color: #fff;
  font-size: .875rem;
}

.userInfo .media .media-body h5 {
  color: #fff;
  font-size: 1rem;
  font-weight: 600;
}

.accountLinks ul {
  list-style-type: none;
  padding: 0;
}

.accountLinks ul li {
  border-bottom: solid 1px #f1f1f1;
}

.accountLinks ul li a {
  display: inline-block;
  width: 100%;
  padding: 1.2rem .9375rem;
  background: url(../images/iconArrowRight.svg) no-repeat 94% 50%;
  background-size: .6rem auto;
}

.accountLinks ul li a img {
  max-width: 1.25rem;
  height: 1.25rem;
  float: left;
  margin-right: .9375rem;
  margin-top: .1rem;
  opacity: .6;
  -webkit-transition: opacity 0.3s ease-in;
  transition: opacity 0.3s ease-in;
}

.accountLinks ul li a:hover img {
  opacity: 1;
}

.accountLinks ul li a span {
  line-height: 1.25rem;
  font-size: 1rem;
  color: #333;
}

.accountLinks ul li a.active {
  background: rgba(233, 162, 57, 0.2) url(../images/iconArrowRight.svg) no-repeat 94% 50%;
  background-size: .6rem auto;
}

.accountLinks ul li:first-child a {
  border-radius: 0.25rem 0.25rem 0 0;
}

.accountLinks ul li:last-child a {
  border-radius: 0 0 0.25rem 0.25rem;
}

.myAccountContent.noBg {
  background: transparent;
}

.myAccountContent .heading {
  font-size: 1rem;
  text-transform: uppercase;
  color: #333;
  padding: .9375rem;
  border-bottom: solid 1px #f1f1f1;
}

.myAccountContent .content {
  padding: .9375rem;
}

.myAccountContent .content.personalInfo {
  padding: 1.5rem 2rem;
}

.myAccountContent .content.personalInfo .row {
  margin-bottom: 2rem;
}

.myAccountContent .content.personalInfo .row:last-child {
  margin-bottom: 1rem;
}

.myAccountContent .content.couponsContainer {
  padding: 0 0.5rem;
}

.myAccountContent .content .table thead th {
  border-top: 0;
  border-color: #f1f1f1;
  font-size: .875rem;
}

.myAccountContent .content .table tbody th {
  font-size: .875rem;
  border-color: #f1f1f1;
  line-height: 2rem;
}

.myAccountContent .content .table tbody td {
  font-size: .875rem;
  border-color: #f1f1f1;
  line-height: 2rem;
}

.myAccountContent .content .table tbody td a {
  display: inline-block;
  line-height: 2rem;
  padding: 0 1rem;
  border-radius: 0.25rem;
  color: #333;
  margin-right: .5rem;
  -webkit-box-shadow: 0 0 3px rgba(0, 0, 0, 0.3);
  -ms-box-shadow: 0 0 3px rgba(0, 0, 0, 0.3);
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.3);
}

.myAccountContent .content .table tbody td a:active {
  -webkit-box-shadow: none;
  -ms-box-shadow: none;
  box-shadow: none;
}

.myAccountContent .content .table tbody td.cancelled {
  color: #c00;
}

.myAccountContent .content .table tbody td.intransit {
  color: #2F73C2;
}

.myAccountContent .content .table tbody td.delivered {
  color: #0c0;
}

.personalInfo .custom-control {
  display: inline-block;
  margin-right: 1rem;
  margin-top: 1.2rem;
  padding-left: 0;
}

.personalInfo button {
  border: none;
  line-height: 2.5rem;
  padding: 0 3rem;
  border-radius: 0.25rem;
}

.field {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
      -ms-flex-flow: column-reverse;
          flex-flow: column-reverse;
  position: relative;
}

.field label,
.field input,
.field select {
  font-size: .875rem;
  margin: 0;
  -webkit-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
  -ms-touch-action: manipulation;
      touch-action: manipulation;
}

.field input,
.field select {
  background: transparent;
  font-size: .875rem;
  z-index: 1;
  position: relative;
  height: 2.625rem;
  border: none;
  border-bottom: 1px solid #999;
  font-weight: 600;
  cursor: text;
}

.field input:focus,
.field select:focus {
  outline: 0;
}

.field input:placeholder-shown + label,
.field select:placeholder-shown + label {
  cursor: text;
  position: relative;
  z-index: 0;
  font-size: .875rem;
  display: block;
  line-height: 1rem;
  white-space: nowrap;
  margin: 0;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-transform-origin: left bottom;
          transform-origin: left bottom;
  -webkit-transform: translate(0, 1.8125rem);
          transform: translate(0, 1.8125rem);
}

.field input::-webkit-input-placeholder,
.field select::-webkit-input-placeholder {
  opacity: 0;
  font-weight: 400;
  -webkit-transition: inherit;
  transition: inherit;
}

.field input:focus::-webkit-input-placeholder,
.field select:focus::-webkit-input-placeholder {
  opacity: .7;
}

.field input:not(:placeholder-shown) + label,
.field input:focus + label,
.field select:not(:placeholder-shown) + label,
.field select:focus + label {
  padding: 0;
  line-height: 1rem;
  -webkit-transform: translate(0, 0.2rem);
          transform: translate(0, 0.2rem);
  cursor: pointer;
  color: #999;
}

.wishlist .media,
.orderItems .media {
  border-bottom: solid 1px #f1f1f1;
  padding: 1.5rem;
  margin: 0 -.9375rem;
}

.wishlist .media:last-child,
.orderItems .media:last-child {
  border: none;
}

.wishlist .media > img,
.orderItems .media > img {
  width: 10rem;
}

.wishlist .media .media-body,
.orderItems .media .media-body {
  position: relative;
}

.wishlist .media .media-body > a,
.orderItems .media .media-body > a {
  display: block;
  font-size: 1.125rem;
  color: #333;
  margin-bottom: .3rem;
}

.wishlist .media .media-body .price .big,
.orderItems .media .media-body .price .big {
  color: #333;
  font-size: 1rem;
  font-weight: 600;
  margin-right: .3rem;
}

.wishlist .media .media-body .price span,
.orderItems .media .media-body .price span {
  color: #c00;
  font-weight: 400;
}

.wishlist .media .media-body .price span.strike,
.orderItems .media .media-body .price span.strike {
  color: #999;
  margin-right: .3rem;
}

.wishlist .media .media-body button,
.orderItems .media .media-body button {
  position: absolute;
  right: 1rem;
  top: 50%;
  margin-top: -1.5rem;
  background: transparent;
  padding: 0.5rem;
  border: none;
}

.wishlist .media .media-body button:focus,
.orderItems .media .media-body button:focus {
  outline: none;
}

.wishlist .media .media-body button img,
.orderItems .media .media-body button img {
  width: 1.5rem;
}

.wishlist .media-body {
  padding-right: 7rem;
}

.veg,
.nonVeg {
  width: .8rem;
  height: .8rem;
  display: inline-block;
  margin: 0 .5rem;
  background: no-repeat center center;
  background-size: 100% 100%;
}

.veg {
  background-image: url(../images/veg.svg);
}

.nonVeg {
  background-image: url(../images/nonVeg.svg);
}

.couponsContainer {
  background: #f1f1f1;
}

.couponsContainer .codeCopied {
  display: none;
  width: 100%;
  text-align: center;
  position: fixed;
  bottom: 0;
  left: 0;
  padding: .625rem 1rem;
  background: #333;
  color: #fff;
  font-size: 1rem;
  line-height: 1.3;
  z-index: 999;
}

.couponsContainer .codeCopied strong {
  color: #fff;
}

.couponsContainer .coupon {
  display: block;
  background: #fff;
  border-radius: 0.25rem;
  -webkit-box-shadow: 0 0.1875rem 0.625rem rgba(0, 0, 0, 0.2);
  -ms-box-shadow: 0 0.1875rem 0.625rem rgba(0, 0, 0, 0.2);
  box-shadow: 0 0.1875rem 0.625rem rgba(0, 0, 0, 0.2);
  position: relative;
  margin-bottom: 1.5rem;
}

.couponsContainer .coupon div {
  display: inline-block;
}

.couponsContainer .coupon div.details {
  padding: .625rem;
  width: 80%;
  margin-bottom: -1px;
}

.couponsContainer .coupon div.details .off {
  font-size: 1rem;
  color: #e14d43;
  font-weight: 600;
}

.couponsContainer .coupon div.details h3 {
  margin: .625rem 0;
  font-size: 1rem;
}

.couponsContainer .coupon div.details h3 input {
  display: inline-block;
  font-weight: 600;
  border: none;
  width: 18rem;
  font-size: 1rem;
}

.couponsContainer .coupon div.details h3 input:focus {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  outline: none;
}

.couponsContainer .coupon div.details p {
  font-size: .875rem;
  line-height: 1.3;
  margin-top: 15px;
  padding: 0;
}

.couponsContainer .coupon div.details p.note {
  font-size: .75rem;
}

.couponsContainer .coupon div.copy {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 20%;
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  border-radius: 0 0.25rem 0.25rem 0;
}

.couponsContainer .coupon div.copy span {
  display: inline-block;
  margin: auto;
  padding: 0 15px;
  line-height: 1.875rem;
  font-size: .875rem;
  color: #e14d43;
  border: none;
  font-weight: 600;
  border-radius: 15px;
  background: rgba(255, 255, 255, 0.7);
}

.couponsContainer .coupon button {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  opacity: 0;
  border: none;
  background: transparent;
}

.pointsInfo,
.addAddress {
  display: block;
  margin-bottom: 15px;
  padding: 15px;
  border-radius: 0.25rem;
}

.pointsInfo img,
.addAddress img {
  width: 15px;
  margin: 0 0.3125rem -2px 0;
}

.pointsInfo span,
.addAddress span {
  line-height: 1.25rem;
  display: inline-block;
}

.addAddress img {
  opacity: .6;
  width: 1.1rem;
  margin: -.1rem 0.5125rem 0 0;
}

.storeCredit {
  border-radius: 0.25rem;
}

.eventTable {
  text-align: left;
  margin: 0 -.9375rem;
}

.eventTable table {
  width: 100%;
  font-size: .875rem;
  line-height: 1.3;
}

.eventTable table thead {
  font-weight: 600;
  border-bottom: solid 1px #f1f1f1;
}

.eventTable table thead th {
  vertical-align: bottom;
  padding: .9375rem;
}

.eventTable table tbody tr td {
  padding: .9375rem;
}

.eventTable table tbody tr td.credit {
  color: #0c0;
}

.eventTable table tbody tr td.debit {
  color: #c00;
}

.eventTable table tbody tr:nth-child(2n) {
  background: #f1f1f1;
}

.addressList .row {
  padding: 0 7.5px;
}

.addressList .row .col-md-4 {
  padding: 0 7.5px;
}

.addressList .savedAddress {
  padding: 15px;
  font-size: 1rem;
}

.addressList .savedAddress h5 {
  font-size: 1rem;
  font-weight: 600;
}

.addressList .savedAddress .actions {
  margin: 0 -15px -15px;
  border-top: solid 1px #f1f1f1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.addressList .savedAddress .actions a {
  display: inline-block;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 0px;
          flex: 1 1 0;
  text-align: center;
  line-height: 3rem;
  font-size: 1rem;
  color: #333;
  -webkit-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
}

.addressList .savedAddress .actions a:hover {
  background: #fafafa;
}

.addressList .savedAddress .actions a:first-child {
  position: relative;
}

.addressList .savedAddress .actions a:first-child:after {
  position: absolute;
  content: "";
  right: -1px;
  top: 0;
  width: 1px;
  height: 100%;
  background: #f1f1f1;
}

.affiliate ul {
  margin-bottom: 2rem;
}

.affiliate ul li {
  display: inline-block;
  margin-right: 1.5rem;
}

.affiliate ul li a.active {
  font-weight: 600;
}

.affiliate .affiliateTab h4 {
  font-size: 1rem;
  font-weight: 600;
}

.affiliate .affiliateTab p {
  font-size: 1rem;
}

.affiliate .affiliateTab .formInput label {
  display: block;
  font-weight: 600;
}

.affiliate .affiliateTab .formInput input {
  display: block;
  width: 100%;
  border: solid 1px #999;
  padding: 0 1rem;
  line-height: 2.2rem;
  border-radius: 0.25rem;
}

.affiliate .affiliateTab a.btnGradient, .affiliate .affiliateTab section .whiteBgFlex .heading .center a, section .whiteBgFlex .heading .center .affiliate .affiliateTab a, .affiliate .affiliateTab a.btnCustom, .affiliate .affiliateTab .itemsListing .item .buttons a:last-child, .itemsListing .item .buttons .affiliate .affiliateTab a:last-child, .affiliate .affiliateTab .importer a, .importer .affiliate .affiliateTab a {
  display: block;
  margin-top: 1rem;
  color: #333;
  line-height: 2.2rem;
  border-radius: 0.25rem;
}

.orderInfo {
  border-bottom: solid 1px #f1f1f1;
  padding: 1rem;
}

.orderInfo .info {
  margin-bottom: 1rem;
}

.orderInfo .info ul li {
  font-size: 1rem;
  line-height: 2;
}

.orderInfo .info ul li strong {
  font-weight: 600;
}

.orderInfo .address h5 {
  font-size: 1rem;
  font-weight: 600;
}

.orderInfo .address address {
  font-size: 1rem;
}

.orderInfo .actions a {
  display: inline-block;
  line-height: 2.2rem;
  width: 8rem;
  text-align: center;
  border-radius: 0.25rem;
  margin-bottom: 1rem;
  color: #333;
  font-size: 1rem;
  -webkit-box-shadow: 0 0 3px rgba(0, 0, 0, 0.3);
  -ms-box-shadow: 0 0 3px rgba(0, 0, 0, 0.3);
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.3);
}

.authenticity {
  padding: 15px 0;
}

.authenticity h4 {
  text-transform: uppercase;
  font-size: 1rem;
  font-weight: 600;
  margin: 3rem 0 2rem 0;
  text-align: center;
}

.authenticity h4.text-transform-none {
  text-transform: none;
  line-height: 1.3;
}

.authenticity h4:first-child {
  margin-top: 1rem;
}

.authenticity p {
  margin: 15px 0;
  line-height: 1.3;
}

.authenticity ul li {
  background: url(../images/iconTickGreen.svg) no-repeat 0px 0px;
  background-size: 1rem;
  padding-left: 2rem;
  margin: .625rem 0;
  line-height: 1.3;
  border-bottom: solid 1px #f1f1f1;
  padding-bottom: 15px;
}

.authenticity ul.star {
  margin-top: 2rem;
}

.authenticity ul.star li {
  background: url(../images/starGreen.svg) no-repeat 0px 0px;
  background-size: 1.2rem;
}

.darkBg {
  background: #232A37;
  margin-top: 4rem;
  margin-bottom: 2rem;
  padding: 15px;
  text-align: center;
}

.darkBg a {
  border-radius: 0.25rem;
  margin-top: 5px;
  margin-bottom: 5px;
  display: inline-block;
  -webkit-box-shadow: 0 0 3px rgba(0, 0, 0, 0.3);
  -ms-box-shadow: 0 0 3px rgba(0, 0, 0, 0.3);
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.3);
  padding: 0 1.2rem;
  line-height: 2.2rem;
  color: #333;
  margin-left: 2rem;
}

.darkBg p {
  display: inline-block;
  margin-top: 5px;
  color: #fff;
}

.lineSeparator {
  border-top: solid 10px #f1f1f1;
  height: 0;
}

.certificate {
  padding-top: 0;
  padding: 15px 0;
}

.certificate h4 {
  text-transform: uppercase;
  font-size: 15px;
  font-weight: 600;
  margin: 20px 0;
  text-align: center;
}

.certificate .selectBrand {
  text-align: center;
  padding: 15px;
  margin: auto;
  max-width: 1000px;
}

.certificate .selectBrand .dropdown .dropdown-toggle {
  background: #f1f1f1;
  text-align: left;
  border: none;
  -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
  -ms-box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
  position: relative;
  padding: .5rem 1rem;
}

.certificate .selectBrand .dropdown .dropdown-toggle .label,
.certificate .selectBrand .dropdown .dropdown-toggle .value {
  display: block;
}

.certificate .selectBrand .dropdown .dropdown-toggle .label {
  font-size: .8rem;
  padding-right: 2rem;
  margin-bottom: .3rem;
}

.certificate .selectBrand .dropdown .dropdown-toggle .value {
  font-size: .875rem;
  font-weight: 600;
  color: #e14d43;
}

.certificate .selectBrand .dropdown .dropdown-toggle:after {
  position: absolute;
  right: 1rem;
  top: .6rem;
  background: url(../images/iconDownArrowBlack.svg) no-repeat center center;
  border: none;
  width: 1rem;
  height: 1rem;
  opacity: .4;
}

.certificate .selectBrand .dropdown .dropdown-item {
  font-size: .875rem;
  padding: .45rem 1rem;
  cursor: pointer;
}

.certificate .selectBrand .dropdown .dropdown-item:hover {
  color: #e14d43;
}

.brandCertificateData {
  margin-top: 15px;
}

.brandCertificateData ul li {
  padding: 10px 0;
  line-height: 1.3;
}

.brandCertificateData .imageCenter {
  padding-top: 0;
}

.ourStory h2 {
  font-weight: 600;
  font-size: 1.7rem;
  margin-top: 0;
  margin-bottom: 1rem;
}

.team ul li {
  text-align: center;
  margin-bottom: 2rem;
}

.team ul li figure {
  display: inline-block;
}

.team ul li figure img {
  border-radius: 50%;
  width: 8rem;
}

.team ul li h5 {
  font-size: .875rem;
  font-weight: 600;
  margin: .625rem 0 5px;
}

.team ul li p {
  font-size: .75rem;
  color: #999;
  line-height: 1.2;
  padding: 0;
}

.aboutMore {
  background: #f4f4f4;
  padding: 1rem 15px;
}

.aboutMore p {
  line-height: 1.5;
}

.aboutMore ul {
  list-style-type: disc;
}

.aboutMore ul li {
  margin: 10px 0;
  line-height: 1.5;
}

.aligner, .orderPlaced .media {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.aligner-item-top {
  -ms-flex-item-align: start;
      align-self: flex-start;
}

.aligner-item-bottom {
  -ms-flex-item-align: end;
      align-self: flex-end;
}

.stats {
  margin: 3rem 0;
  padding: 15px;
  background: #f4f5f5;
  text-align: center;
  padding: 15px;
}

.stats h4 {
  font-weight: 600;
  font-size: 1.2rem;
  margin-bottom: 15px;
  color: #e14d43;
}

.stats p {
  text-transform: uppercase;
  color: #e14d43;
}

.thankyou {
  text-align: center;
  padding-bottom: 2rem;
}

.thankyou h3 {
  font-size: 1rem;
  font-weight: 600;
}

.thankyou p {
  margin-top: 10px;
}

.thankyou a {
  display: inline-block;
  max-width: 260px;
  line-height: 2.2;
  border: none;
  font-size: 1rem;
  border-radius: 4px;
  padding: 0 2rem;
}

.top50 h3 {
  font-size: 1rem;
  text-transform: uppercase;
  font-weight: 600;
  margin: 0;
  padding: 1rem;
  text-align: center;
  border-bottom: solid 1px #f1f1f1;
}

.top50 .top50List .media {
  padding: 1.5rem 0 1.5rem 6rem;
  border-bottom: solid 1px #f1f1f1;
  position: relative;
}

.top50 .top50List .media .mr-3 {
  width: 10rem;
}

.top50 .top50List .media .media-body a {
  display: block;
  font-size: 1.125rem;
  color: #333;
  margin-bottom: .3rem;
}

.top50 .top50List .media .rank {
  position: absolute;
  top: 50%;
  margin-top: -.8rem;
  left: 2.5rem;
  background: #f5a623;
  font-size: 14px;
  padding: 3px 5px;
  border-radius: 2px;
  color: #fff;
}

.importer {
  text-align: center;
  padding: 2rem 0;
}

.importer img {
  max-width: 100%;
}

.importer a {
  margin: 1.2rem 0;
  display: inline-block;
  line-height: 2.2rem;
  border-radius: 0.25rem;
  font-size: 1rem;
  color: #333;
  padding: 0 2rem;
}

.importer h4 {
  font-size: 1rem;
  font-weight: 600;
}

.importer ul {
  margin-bottom: 2rem;
}

.importer ul li {
  font-size: 1rem;
  line-height: 1;
  padding: .5rem 0;
}

.orderPlaced {
  padding: 15px;
  margin-bottom: 15px;
}

.orderPlaced .media .media-body h5 {
  font-size: 1.5rem;
  color: #333;
  font-weight: 600;
}

.deliveryAddress {
  padding: 15px;
  margin-bottom: 15px;
  position: relative;
}

.deliveryAddress h5 {
  font-size: 1.1rem;
  font-weight: 600;
  margin-bottom: 1rem;
}

.deliveryAddress p {
  margin-bottom: .5rem;
}

.deliveryAddress p a {
  color: #333;
}

.deliveryAddress p a:hover {
  color: #2F73C2;
}

.deliveryAddress a.edit {
  color: #2F73C2;
  position: absolute;
  top: 15px;
  right: 15px;
}

.shopMore {
  padding: 15px;
}

.shopMore h5 {
  font-size: 1.1rem;
  font-weight: 600;
  margin-bottom: 1.2rem;
}

.shopMore a {
  display: inline-block;
  padding: 0 2rem;
  line-height: 2.5rem;
  border-radius: 0.25rem;
}

.orderDetails > h5 {
  line-height: 3rem;
  padding: 0 15px;
  border-bottom: solid 1px #f1f1f1;
}

.orderDetails > h5 span {
  font-size: 1.1rem;
  font-weight: 600;
}

.orderDetails > h5 a {
  color: #2F73C2;
  font-size: 1rem;
}

.orderDetails .media {
  padding: 15px;
}

.orderDetails .media img {
  width: 7rem;
}

.orderDetails .media .media-body a {
  color: #333;
}

.orderDetails .media .media-body h5 {
  font-size: 1rem;
  font-weight: 600;
}

.orderDetails .total {
  line-height: 3rem;
  border-top: solid 1px #f1f1f1;
  border-bottom: solid 1px #f1f1f1;
  padding: 0 15px;
  font-weight: 600;
  font-size: 1.1rem;
  color: #333;
}

.orderDetails .otherLinks a {
  display: inline-block;
  margin-right: 2rem;
  color: #2F73C2;
  padding: 15px 15px 20px;
}

.relatedProducts h4 {
  text-transform: uppercase;
  font-size: 1rem;
  font-weight: 600;
  margin: 2rem 0;
  text-align: center;
}

.relatedProducts .item {
  margin: 2rem 0;
}

#offersTabList {
  padding: 15px;
}

#offersTabList li {
  margin: 1.2rem 0;
}

#offersTabList li:first-child {
  margin-top: .3rem;
}

#offersTabList li:last-child {
  margin-bottom: .3rem;
}

#offersTabList li a {
  font-weight: 600;
  line-height: 1.7;
  display: inline-block;
  border-bottom: solid 2px #fff;
  cursor: pointer;
}

#offersTabList li a.active {
  border-color: #e14d43;
  color: #e14d43;
}

.offerTabContent {
  display: none;
  margin-left: -15px;
}

.offerTabContent.active {
  display: block;
}

.offerTabContent h4 {
  text-transform: uppercase;
  font-size: 1rem;
  font-weight: 600;
  padding: 1.5rem 0 1rem;
  margin: 0;
  text-align: center;
}

.offerTabContent .freebie {
  padding: 15px;
  margin: 0;
}

.offerTabContent .freebie li {
  border: solid 1px #eee;
  padding: .8rem 1rem;
  border-radius: 0.25rem;
  margin-bottom: 1rem;
}

.offerTabContent .freebie li img {
  margin-right: .3rem;
  width: 1.3rem;
  margin-top: -.2rem;
}

.offerTabContent .clearance h4,
.offerTabContent .comboDeals h4,
.offerTabContent .bulkPurchase h4 {
  border-bottom: solid 1px #f1f1f1;
}

.offerTabContent .bulkPurchase ul li {
  padding: 1rem 2rem;
  border-bottom: solid 1px #f1f1f1;
}

.offerTabContent .bulkPurchase ul li h5 {
  font-size: 1rem;
  font-weight: 600;
  margin-bottom: 1rem;
}

.offerTabContent .bulkPurchase ul li p {
  margin-bottom: 0;
}

.offerTabContent .unboxing {
  padding: 1.5rem 2rem;
}

.offerTabContent .unboxing p {
  margin: 2rem 0 .8rem;
}

.offerTabContent .unboxing p:first-child {
  margin-top: .5rem;
}

.offerTabContent .unboxing li {
  margin-bottom: .5rem;
}

.offerProducts {
  padding: 15px;
  margin-top: 15px;
  text-align: center;
}

.offerProducts .item {
  margin: 1.5rem 0;
}

.priceFrom {
  color: #515151;
  padding: 1rem 0;
  line-height: 2;
  font-weight: 600;
}

.saleOffers h4 {
  text-transform: uppercase;
  font-size: 1rem;
  font-weight: 600;
  padding: 1.5rem 0 1rem;
  margin: 0;
  text-align: center;
}

.saleTimer {
  background: #fa8f6f;
  background: -webkit-gradient(linear, left top, left bottom, from(#fa8f6f), to(#fe6555));
  background: linear-gradient(to bottom, #fa8f6f 0%, #fe6555 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fa8f6f', endColorstr='#fe6555', GradientType=0);
  padding: 1rem 15px;
  text-align: center;
  color: #fff;
}

.saleTimer h5 {
  color: #fff;
}

.saleTimer h3 {
  font-weight: 600;
  font-size: 1.7rem;
  line-height: 50px;
  color: #fff;
  letter-spacing: .15rem;
  text-transform: uppercase;
}

.saleTimer .timer {
  text-align: center;
}

.saleTimer .timer li {
  display: inline-block;
  background: rgba(255, 255, 255, 0.3);
  color: #fff;
  padding: .5rem 5rem;
  border-radius: 4px;
}

.saleTimer .timer li .big {
  display: block;
  font-weight: 600;
  font-size: 3rem;
  color: #fff;
}

.saleTimer .timer li .small {
  display: block;
  font-size: .875rem;
  color: #fff;
}

.bgGreenGradient {
  background: #8cfcd1;
  background: -webkit-gradient(linear, left top, left bottom, from(#8cfcd1), to(#3ef4cb));
  background: linear-gradient(to bottom, #8cfcd1 0%, #3ef4cb 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#8cfcd1', endColorstr='#3ef4cb', GradientType=0);
}

.bgYellowGradient {
  background: #ffffc2;
  background: -webkit-gradient(linear, left top, left bottom, from(#ffffc2), to(#fdfd7e));
  background: linear-gradient(to bottom, #ffffc2 0%, #fdfd7e 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='$whitefc2', endColorstr='#fdfd7e', GradientType=0);
}

.offerBanners .row {
  margin: 0 -7.5px;
}

.offerBanners .row .col-md-4 {
  padding: 0 7.7px;
}

.offerBanners .row .col-md-4 .flexGrow1st, .offerBanners .row .col-md-4 .orderDetails > h5 {
  border-radius: 0.25rem;
  padding: 1rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 15px;
  -webkit-box-shadow: 0 0.15rem 0.35rem rgba(0, 0, 0, 0.3);
  -ms-box-shadow: 0 0.15rem 0.35rem rgba(0, 0, 0, 0.3);
  box-shadow: 0 0.15rem 0.35rem rgba(0, 0, 0, 0.3);
}

.offerBanners .row .col-md-4 .flexGrow1st .figure, .offerBanners .row .col-md-4 .orderDetails > h5 .figure {
  text-align: center;
}

.offerBanners .row .col-md-4 .flexGrow1st .figure img, .offerBanners .row .col-md-4 .orderDetails > h5 .figure img {
  height: 12rem;
}

.offerBanners .row .col-md-4 .flexGrow1st .offerOn, .offerBanners .row .col-md-4 .orderDetails > h5 .offerOn {
  min-width: 15rem;
  text-align: center;
}

.offerBanners .row .col-md-4 .flexGrow1st .offerOn h4, .offerBanners .row .col-md-4 .orderDetails > h5 .offerOn h4 {
  font-weight: 600;
  color: #333;
  font-size: 1rem;
  text-transform: uppercase;
  margin-bottom: .8rem;
}

.offerBanners .row .col-md-4 .flexGrow1st .offerOn p, .offerBanners .row .col-md-4 .orderDetails > h5 .offerOn p {
  color: #333;
  font-size: .875rem;
}

.offerBanners .row .col-md-4 .flexGrow1st .offerOn a, .offerBanners .row .col-md-4 .orderDetails > h5 .offerOn a {
  font-weight: 600;
  display: inline-block;
  border: solid 2px #333;
  color: #333;
  font-size: .75rem;
  padding: .2rem .8rem;
  border-radius: 0.25rem;
  -webkit-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
}

.offerBanners .row .col-md-4 .flexGrow1st .offerOn a:hover, .offerBanners .row .col-md-4 .orderDetails > h5 .offerOn a:hover {
  background: #333;
  color: #fff;
}
/*# sourceMappingURL=style.css.map */