@import url('https://fonts.googleapis.com/css?family=Montserrat:400,600&display=swap');
@import "theme.scss";

ul {
  list-style-type: none;
}

.noSelect {
  -webkit-user-select: none;
  -moz-user-select: none;
  -khtml-user-select: none;
  -ms-user-select: none;
}

.whiteBg {
  background: $white;
}

.whiteBgCurved {
  background: $white;
  @include border-radius(.25rem);
}

.btnGradient {
  background: rgb(255, 218, 133);
  background: -moz-linear-gradient(top, rgba(255, 218, 133, 1) 0%, rgba(232, 167, 75, 1) 100%);
  background: -webkit-linear-gradient(top, rgba(255, 218, 133, 1) 0%, rgba(232, 167, 75, 1) 100%);
  background: linear-gradient(to bottom, rgba(255, 218, 133, 1) 0%, rgba(232, 167, 75, 1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffda85', endColorstr='$yellow', GradientType=0);
}

.btnGradientOrange {
  color: $headline;
  background: #FF7045;
  background: -moz-linear-gradient(top, #FDA576 0, #FF7045 100%);
  background: -webkit-linear-gradient(top, #FDA576 0, #FF7045 100%);
  background: linear-gradient(to bottom, #FDA576 0, #FF7045 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FDA576', endColorstr='#FF7045', GradientType=0);
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.5);

  &:hover {
    color: $headline;
  }
}

.btnGradientGray {
  background: #D4D4D4;
  background: -moz-linear-gradient(top, #EDEDED 0%, #D4D4D4 100%);
  background: -webkit-linear-gradient(top, #EDEDED 0%, #D4D4D4 100%);
  background: linear-gradient(to bottom, #EDEDED 0%, #D4D4D4 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#EDEDED', endColorstr='#D4D4D4', GradientType=0);
}

/* CSS Start */
* {
  font-family: 'Montserrat', sans-serif;
  color: $body;
}

a {
  color: $link;
  @include transition(opacity .2s ease-in);

  &:hover,
  &:active,
  &:focus {
    text-decoration: none
  }
}

a:hover,
button:hover {
  opacity: .85;
  color: $link;
}

html {
  font-size: 12px;

  @media #{$min-width-992} {
    font-size: 13px;
  }

  @media #{$min-width-1200} {
    font-size: 14px;
  }

  @media #{$min-width-1400} {
    font-size: 15px;
  }

}

body {
  background: $bodyBg;
  padding-top: 6.0546875rem;
}

body.noScroll {
  overflow: hidden;

}

@media #{$min-width-992} {
  .noPadDesktop {
    padding: 0;
  }
}

.per35 {
  width: 35%
}

.per40 {
  width: 40%
}

.per50 {
  width: 50%
}

.per90 {
  width: 90%
}

.per100 {
  width: 100%
}

.noPadRight {
  padding-right: 0 !important
}

.noPadLeft {
  padding-left: 0 !important
}

.noPadTop {
  padding-top: 0 !important
}

.noPadBottom {
  padding-bottom: 0 !important
}

.noMarRight {
  margin-right: 0 !important
}

.noMarLeft {
  margin-left: 0 !important
}

.posUnset {
  position: unset !important
}

header {
  background: $bgDark;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 999;
}

.navbar-brand {
  img {
    width: 8.12rem;
  }
}

@media #{$max-width-991} {
  .navbar-collapse {
    >.col-12 {
      padding-left: 0;
    }
  }
}

.navbar-light {
  .navbar-nav {
    .nav-link {
      color: $white;
      font-size: 0.875rem;
      text-transform: uppercase;
      font-weight: 600;
      padding: 0 .8rem;
      line-height: 2.5rem;

      @media #{$max-width-991} {
        padding: 0 .4rem;
      }

      &:hover {
        color: $white;
      }

      &:active,
      &:focus {
        color: $white;
      }

      .iconCart {
        position: relative;
        width: 1.2rem;
        height: 1.2rem;
        background: url(../images/iconCart.svg) no-repeat center center;
        background-size: 1.2rem;
        margin-right: .625rem;
        float: left;
        margin-top: .625rem;

        em {
          position: absolute;
          top: -.5rem;
          right: -.5rem;
          background: $highlight;
          @include border-radius(50%);
          width: .8rem;
          height: .8rem;
          font-size: .6rem;
          text-align: center;
          line-height: .9rem;
          font-style: normal;
          color: $white;
        }
      }
    }

    .active {
      >.nav-link {
        color: $white
      }
    }
  }

  .nav-item {
    &.dropdown {
      position: unset;

      &.show {
        >a {
          position: relative;
          color: $white;

          &::before {
            position: absolute;
            content: "";
            width: 0;
            height: 0;
            top: 100%;
            left: 50%;
            margin-left: -1.4rem;
            border-left: .8rem solid transparent;
            border-right: .8rem solid transparent;
            border-bottom: .8rem solid $white;
          }
        }
      }

      .dropdown-menu {
        padding-top: 1rem;
      }
    }
  }

  .formHeader {
    position: relative;

    .form-control {
      width: 20rem;
      border: none;
      height: 2.5rem;
      font-size: .875rem;
      padding: .375rem .75rem .375rem 2.5rem;

      @media #{$min-width-992} {
        width: 20rem;
      }

      @media #{$min-width-1200} {
        width: 33rem;
      }

      @media #{$min-width-1400} {
        width: 36rem;
      }

      @media #{$max-width-991} {
        width: 15rem;
      }

      @media #{$max-width-800} {
        width:13rem;
      }

    }

    .btn {
      position: absolute;
      top: 0;
      left: 0;
      width: 2.5rem;
      height: 2.5rem;
      padding: .5rem;

      img {
        width: 1.2rem;
        margin-top: -.3rem;
      }
    }
  }
}

.navBarDropDown {
  top: 2.5rem;
  left: 8rem;
  right: 8rem;
  background-color: transparent;
  border: none;

  @media #{$max-width-991} {
    left: 1rem;
    right: 1rem;
  }

  @media #{$min-width-992} {
    left: 2rem;
    right: 2rem;
  }

  @media #{$min-width-1400} {
    left: 8rem;
    right: 8rem;
  }

  .dropDownContent {
    @extend .whiteBgCurved;
    @include box-shadow(0 .1rem .6rem rgba(0, 0, 0, .1));

    .row {
      margin: 0;
    }

    .tabs {
      li {
        border-bottom: solid 1px $border;

        a {
          font-size: 1rem;
          color: $headline;
          line-height: 3rem;
          display: block;
          background: url(../images/chevron-right.svg) no-repeat 93% 50%;
          background-size: .5rem;
          cursor: pointer;
          padding: 0 1.5rem;


          &.active {
            background: url(../images/chevron-right-active.svg) no-repeat 93% 50%;
            background-size: .5rem;
            color: $highlight;
            position: relative;

            &:after {
              position: absolute;
              content: "";
              right: -1px;
              top: 0;
              height: 100%;
              width: 2px;
              background: $white;
              z-index: 2;
            }
          }
        }
      }
    }
  }

  .tabContent {
    display: none;
    padding: .9375rem 1.5rem;
    border-left: solid 1px $border;

    &.active {
      display: block;
    }

    h4 {
      font-weight: 600;
      font-size: .875rem;
      text-transform: uppercase;
    }

    ul {
      margin-bottom: 1.875rem;

      li {
        a {
          color: $body;
          font-size: .875rem;
          line-height: 1.875rem;

          &:hover {
            color: $highlight;
          }
        }
      }
    }
  }

  .searchBrand {
    padding: .9375rem;

    input {
      border: none;
      border-bottom: solid 1px $border;
      width: 100%;
      font-size: .875rem;
      height: 2.5rem;
      padding-left: 2rem;
      background-image: url(../images/iconsSearchDark.svg);
      background-repeat: no-repeat;
      background-position: 0 50%;
      background-size: 1.25rem;
    }
  }

  .slider {
    width: 100%;
    min-height: 250px;
    display: block;
    position: relative;
    background: $white;
    overflow: hidden;
    padding-bottom: .9375rem;
    overflow-y: auto;

    &::-webkit-scrollbar {
      width: .6rem;
    }

    &::-webkit-scrollbar-track {
      background: $white;
    }

    &::-webkit-scrollbar-thumb {
      background: #ddd;
      @include border-radius(.355rem);
    }

    &::-webkit-scrollbar-thumb:hover {
      background: $fadeGray;
    }

    ul {
      list-style-type: none;
    }
  }

  .slider-content {
    float: left;
    width: 100%;
    display: block;
    overflow: auto;
    min-height: 250px;
    font-size: .875rem;

    &::-webkit-scrollbar {
      width: .6rem;
    }

    &::-webkit-scrollbar-track {
      background: $white;
    }

    &::-webkit-scrollbar-thumb {
      background: #ddd;
      @include border-radius(.355rem);
    }

    &::-webkit-scrollbar-thumb:hover {
      background: $fadeGray;
    }

    ul {
      float: left;
      width: 100%;
      display: block;
      position: relative;

      li {
        float: left;
        width: 100%;
      }

      ul li a {
        padding: 0 .9375rem;
        display: block;
        color: $body;
        line-height: 28px;

        &:hover {
          color: $highlight;
        }
      }
    }

    .title {
      padding: 5px 0;
      text-indent: .9375rem;
      color: $headline;
      width: 100%;
      float: left;
      font-weight: bold;
      text-transform: uppercase;
    }
  }

  .slider {
    .slider-nav {
      position: absolute;
      right: .3rem;
      top: 0;
      padding-right: .45rem;
      min-height: 250px;
      z-index: 3;


      ul {
        padding: 0;
        height: 100%;
        width: 1.2rem;

        li {
          padding: .3125rem 0;
          height: 3.84%;

          a {
            font-size: .75rem;
            display: block;
            text-align: center;
            line-height: 1;
            text-align: center;
            color: $headline;
            font-weight: bold;
            display: block;
            text-transform: uppercase;
            cursor: pointer;

            &:hover {
              color: $highlight;
            }
          }
        }
      }


    }

    #debug {
      position: absolute;
      bottom: 0;
      left: 0;
      padding: 5px;
      background: $headline;
      color: $white;
    }

    .arrow {
      font-size: 0px;
      line-height: 0%;
      width: 0px;
      border-bottom: 8px solid $white;
      border-left: 5px solid #333;
      border-right: 5px solid #333;
      position: relative;
      top: 5px;
    }

    .down {
      border-bottom: none;
      border-top: 8px solid $white;
      top: .9375rem;
    }

    .slide-up,
    .slide-down {
      height: 20px;
      background: $bgDark;
      text-align: center;
      cursor: pointer;
      float: right;
      width: 100%;
      position: relative;
    }
  }

  .brandList {

    .brandSort {
      ul {
        border-bottom: solid 1px $border;
        padding: 0 1.5rem;

        li {
          display: inline-block;
          padding: 0 1.5rem;

          a {
            margin-top: .5rem;
            line-height: 2.8rem;
            display: block;
            cursor: pointer;

            &.active {
              position: relative;
              color: $highlight;

              &:after {
                position: absolute;
                content: "";
                right: -1px;
                bottom: 0;
                height: 2px;
                width: 100%;
                background: $highlight;
                z-index: 2;
              }
            }
          }
        }
      }
    }

    .brandShow {
      padding: .9375rem 1.5rem;
      display: none;
      overflow-y: auto;

      &::-webkit-scrollbar {
        width: .6rem;
      }

      &::-webkit-scrollbar-track {
        background: $white;
      }

      &::-webkit-scrollbar-thumb {
        background: #ddd;
        @include border-radius(.355rem);
      }

      &::-webkit-scrollbar-thumb:hover {
        background: $fadeGray;
      }

      &.active {
        display: block;
      }

      .col-md-4 {
        min-height: 6rem;
        text-align: center;
        display: flex;
        align-items: center;

        img {
          max-width: 12rem;
          display: inline-block;
        }
      }
    }
  }
}

.searchBrandDD {
  border-right: solid 1px $border;
  padding-left: .25rem;
}

.menu {
  padding: 0 1.5rem;

  >ul {
    display: flex;
    justify-content: space-between;
    margin: 0;

    >li {
      display: inline-block;
      position: relative;
      z-index: 9;

      >a {
        font-size: .875rem;
        color: $white;
        line-height: 2.5rem;
      }

      &[data-type="subMenu"] {
        &:hover {
          &::before {
            position: absolute;
            content: "";
            width: 0;
            height: 0;
            bottom: 0;
            left: 50%;
            margin-left: -.5rem;
            border-left: .5rem solid transparent;
            border-right: .5rem solid transparent;
            border-bottom: .5rem solid $white;
          }
        }

        a {
          padding-right: 1rem;
          background: url(../images/iconDownArrowWhite.svg) no-repeat right 60%;
          background-size: .625rem .3rem;
        }
      }


      .subMenu {
        display: none;
        position: absolute;
        top: 100%;
        left: 0;
        min-width: 15rem;
        width: auto;
        justify-content: space-between;
        @extend .whiteBgCurved;
        @include box-shadow(0 .1rem .6rem rgba(0, 0, 0, .1));
        padding: .9375rem 0;

        ul {
          display: inline-block;

          li {
            font-size: .875rem;

            strong,
            a {
              display: block;
              white-space: nowrap;
              padding: 0 1rem;
              line-height: 2rem;
              color: $headline;


            }

            strong {
              font-size: .8rem;
            }

            a:hover {
              background: $border;
              color: $highlight;
            }

          }
        }
      }

      &:hover {
        .subMenu {
          display: flex;
        }
      }
    }
  }
}

section {
  padding: 15px;
  padding-bottom: 0;
  position: relative;

  &.heroBanner {
    padding: 0;
  }

  .whiteBgFlex {
    @extend .whiteBgCurved;
    overflow: hidden;
    position: relative;
    padding-left: 11rem;

    .heading {
      position: absolute;
      left: 0;
      top: 0;
      display: flex;
      height: 100%;
      align-items: center;
      justify-content: center;
      width: 11rem;

      .center {
        display: inline-block;
        text-align: center;

        h4 {
          text-transform: uppercase;
          font-size: 1rem;
          font-weight: 600;
        }

        a {
          display: inline-block;
          @extend .btnGradient;
          font-size: .75rem;
          color: $headline;
          padding: 0 .875rem;
          line-height: 2rem;
          @include border-radius(.25rem);
        }
      }
    }
  }
}

.sliderResponsive {
  padding-right: 2.8rem;
  padding-top: 1.9rem;
  padding-bottom: 1.9rem;

  .slick-prev {
    display: none !important;
  }
}

.carousel-control-next,
.carousel-control-prev {
  width: 8%
}

.carousel-control-next-icon,
.carousel-control-prev-icon {
  width: 3.5rem;
  height: 3.5rem;
}

.carousel-control-prev-icon {
  background-image: url(../images/carouselLeftArrow.svg);
}

.carousel-control-next-icon {
  background-image: url(../images/carouselRightArrow.svg);
}


.newUserZone {
  background: #58677d;
  background: -moz-linear-gradient(top, #58677d 0, #212b3c 100%);
  background: -webkit-linear-gradient(top, #58677d 0, #212b3c 100%);
  background: linear-gradient(to bottom, #58677d 0, #212b3c 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#58677d', endColorstr='#212b3c', GradientType=0);
  @include border-radius(.25rem);
  text-align: center;
  font-weight: 600;
  padding: 1.4rem;
  text-align: center;

  .heading {

    span {
      background: $white;
      box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
      font-size: 1rem;
      line-height: 2.5rem;
      padding: 0 1.25rem;
      @include border-radius(1.2rem);
      display: inline-block;
      @media #{$max-width-800} {
        padding: 0 .5rem;
      }
    }
  }
}

.couponBg {
  display: inline-block;
  margin: 30px 0;
  max-width: 22rem;
  width: 100%;
  height: 8.25rem;
  background: url(../images/newUSerCouponBg.svg) no-repeat center center;
  background-size: 100% auto;
  padding: 25px 0 25px 8.8rem;
  font-size: 1.25rem;
  font-weight: 600;
  line-height: 1.3;
  @media #{$max-width-800} {
    padding-left: 4rem;
    font-size: .8rem;
  }

  .big {
    font-weight: 600;
    font-size: 2rem;
    @media #{$max-width-800} {
      font-size: 1.5rem;
    }
  }
}

.btnCustom {
  @extend .btnGradient;
  display: inline-block;
  color: $headline;

  &.big {
    height: 2.5rem;
    line-height: 2.5rem;
    padding: 0 1.875rem;
    font-size: 1.125rem;
    @include border-radius(20px);
  }

  &:hover {
    color: $headline;
  }
}

.item {
  display: inline-block;
  min-width: 8.125rem;
  margin: 0 .625rem;
  font-size: .875rem;
  text-align: center;
  color: $headline;

  .rank {
    position: absolute;
    top: 10px;
    left: 10px;
    background: $yellow;
    font-size: 14px;
    padding: 3px 5px;
    @include border-radius(2px);
    color: $white;
  }

  >a {
    display: block;
    color: $headline;
    font-size: .875rem;

    p {
      margin-top: .625rem;
    }
  }
}

.price {
  padding: 6px 0;
  color: $body;
  font-size: .875rem;

  span {
    color: $headline;
    font-weight: 600;
    margin-left: 3px;

    &.strike {
      color: $fadeGray;
      font-weight: 400;
      text-decoration: line-through;
    }
  }

}

.ratingView {
  .rating {
    display: inline-block;
    width: 70px;
    height: 14px;
    position: relative;
    margin: 0 2px -2px 0;
  }

  a {
    display: inline-block;
    color: $link;
    font-weight: 600;
    font-size: 12px;
  }

  .rating {
    &::after {
      content: "";
      position: absolute;
      height: 100%;
      left: 0;
      top: 0;
      background: url(../images/starFill.svg) repeat-x left center;
      background-size: 14px 12px;
    }

    &::before {
      content: "";
      position: absolute;
      width: 100%;
      height: 100%;
      left: 0;
      top: 0;
      background: url(../images/starEmpty.svg) repeat-x left center;
      background-size: 14px 12px;
    }
  }
}


$class:[data-rating];

.rating {
  @for $i from 1 through 50 {
    &[#{$class}="#{$i/10}"]:after {
      width:#{$i*2%};
    }
  }
}


.sliderResponsive,
.imageGallery,
.slider-thumbs {
  display: none;
}

.loading {
  text-align: center;
  padding: 7.5rem 0;
}

.slick-initialized {
  display: block;

  ~.loading {
    display: none;
  }
}

.slick-prev,
.slick-next {
  position: absolute;
  margin-top: -2.5rem;
  height: 5rem;
  width: 2.75rem;
  border: none;
  z-index: 9;
}

.slick-prev {
  top: 50%;
  left: 0;
  background: $white url(../images/iconArrowLeft.svg) no-repeat center center;
  background-size: .8rem;
  @include border-radius(0 .25rem .25rem 0);
  @include box-shadow(3px 0 5px rgba(0, 0, 0, .2));
}

.slick-next {
  top: 50%;
  right: 0;
  background: $white url(../images/iconArrowRight.svg) no-repeat center center;
  background-size: .8rem;
  @include border-radius(.25rem 0 0 .25rem);
  @include box-shadow(-3px 0 5px rgba(0, 0, 0, .2));
}

.popularBrands {
  padding: .9375rem;

  a {
    display: block;

    @media #{$max-width-991} {
      padding: .5rem 2rem;
    }

    @media #{$min-width-992} {
      padding: 1rem 1.2rem;
    }


    img {
      width: 100%;
    }
  }
}

.trendingSearch {
  padding: 1rem 0;

  a {
    display: inline-block;
    padding: 0 1.5rem 0 3rem;
    line-height: 2.5rem;
    border: solid 1px $border;
    font-size: 1rem;
    margin: 1rem;
    color: $headline;
    background-image: url(../images/iconTrending.svg);
    background-repeat: no-repeat;
    background-position: .6rem .45rem;
    background-size: 1.5rem;
    @include border-radius(.25rem);

    &:hover {
      background-color: $border;
    }
  }
}

.banners {
  .row {
    margin: 0 -7px;

    .col-md-4 {
      padding: 0 7px;

      img {
        @include border-radius(.25rem);
      }
    }
  }
}

.topOfPage {
  background: $bgDark;
  padding: .9375rem;
  text-align: center;
  cursor: pointer;
  margin-top: .9375rem;

  figure {
    margin-bottom: .2rem;
  }

  p {
    margin: .15rem 0;
    color: $white;
    font-size: .875rem;
  }
}

footer {
  background: $bgDark;
  padding: 2rem;
  position: relative;

  &:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background: rgba(0, 0, 0, .25);
    z-index: 0;
  }

  h4 {
    color: $fadeGray;
    font-weight: 600;
    font-size: 1rem;
  }

  ul {
    li {
      a {
        color: $white;
        font-size: .875rem;
        line-height: 2rem;
      }
    }
  }

  address {
    color: $white;
    font-size: .875rem;
  }
}

.flexGrow1st {
  display: flex;

  >div,
  >nav,
  >span {
    display: inline-block;

    &:first-child {
      flex-grow: 1;
    }
  }
}

.flexGrow2nd {
  display: flex;

  >div,
  >nav,
  >span {
    display: inline-block;

    &:first-child {
      flex-grow: 1;
    }
  }
}

.resultsFilter {
  @extend .whiteBgCurved;
  margin: .9375rem 0;
  padding: .9375rem;

  .sortBy {
    margin-top: .3rem;

    ul {
      margin: 0;

      li {
        display: inline-block;
        font-size: .875rem;
        padding-right: 1rem;

        a {
          color: $headline;
          padding: .15rem 0;
          border-bottom: solid 1px $white;

          &.active {
            border-color: $highlight;
            color: $highlight;
          }
        }
      }
    }
  }
}

.breadcrumb {
  background: transparent;
  margin: 0;
  padding: 0;

  .breadcrumb-item {
    a {
      color: $headline;

      &:hover {
        color: $highlight;
      }
    }

    &.active {
      color: $headline;
      font-weight: 600;
    }
  }
}

.itemsListing {
  .row {
    margin: 0 -7.5px;

    .col-lg-3 {
      padding: 0 7.5px;
      margin-bottom: .9375rem;
    }
  }

  .item {
    @extend .whiteBgCurved;
    border: solid 1px $white;
    padding: 1rem;
    margin: 0;
    position: relative;

    img {
      max-width: 100%;
    }

    p {
      margin-bottom: .625rem;
    }

    .veg {
      position: absolute;
      top: .625rem;
      right: .625rem;
      width: 1rem;
      height: 1rem;
      background: url(../images/veg.svg) no-repeat center center;
      background-size: 100%;
    }

    .buttons {
      position: absolute;
      bottom: 1px;
      left: 2px;
      right: 2px;
      background: $white;
      display: none;

      a {
        float: left;
        width: 50%;
        line-height: 2.5rem;
        text-align: center;
        font-size: .875rem;
        color: $headline;
        @include border-radius(.25rem);

        &:first-child {
          @extend .btnGradientGray;
          margin-right: 1px;
          margin-left: -1px;
        }

        &:last-child {
          @extend .btnGradient;
          margin-right: -1px;
        }
      }
    }

    &:hover {
      border-color: $yellow;
      @include box-shadow(0 0 5px $yellow);

      .buttons {
        display: block;
      }
    }
  }
}

.filter {
  @extend .whiteBgCurved;
  margin-right: -.9375rem;

  .purchaseProtection {
    padding: .9375rem;
  }


  h4 {
    font-size: .875rem;
    margin: 0 0 10px;

    span {
      font-weight: 600;
    }

    a {
      font-size: .75rem;
    }
  }

  >h4 {
    padding: .9375rem;
    margin: 0;
  }

  .selectedFilters {
    padding: 0 .9375rem 5px;
    border-bottom: solid 1px $border;

    span {
      display: inline-block;
      margin-right: .75rem;
      margin-bottom: .75rem;
      background: $border url(../images/filterCross.svg) no-repeat .75rem 50%;
      background-size: .75rem;
      border: solid 1px $border;
      font-size: .875rem;
      padding: 0 1rem 0 2rem;
      line-height: 2rem;
      @include border-radius(.25rem);
      cursor: pointer;
    }
  }

  .preference {
    padding: .9375rem;
    border-bottom: solid 1px $border;
  }



  .categories {
    padding: .9375rem;
    border-bottom: solid 1px $border;

    ul.tree {
      li {
        line-height: 30px;
        border: none;

        ul {
          margin-left: .9375rem;
          margin-bottom: 0;
        }

        a {
          display: block;
          color: $headline;

          &.active {
            color: $highlight;
          }
        }
      }
    }
  }

  .brands {
    padding: .9375rem;
    border-bottom: solid 1px $border;

    .searchBrand {
      padding-bottom: 10px;

      input {
        border: none;
        border-bottom: solid 1px $fadeGray;
        width: 100%;
        font-size: 1rem;
        height: 2.5rem;
        padding-left: 2rem;
        background-image: url(../images/iconsSearchDark.svg);
        background-repeat: no-repeat;
        background-position: 0 50%;
        background-size: 1.25rem;
      }
    }

    .brandSelect {
      height: 200px;
      overflow-y: scroll;

      &::-webkit-scrollbar {
        width: .6rem;
      }

      &::-webkit-scrollbar-track {
        background: $white;
      }

      &::-webkit-scrollbar-thumb {
        background: #ddd;
        @include border-radius(.355rem);
      }

      &::-webkit-scrollbar-thumb:hover {
        background: $fadeGray;
      }
    }
  }
}

.custom-checkbox {
  padding-top: .5rem;
  padding-bottom: .5rem;
  padding-left: 2rem;

  .custom-control-label {
    display: block;

    &:before,
    &:after {
      top: .15rem;
      left: -1.8rem;
      width: 1.2rem;
      height: 1.2rem;
    }
  }
}

.banner {
  @include border-radius(.25rem);
}

.disclaimer {
  @extend .whiteBgCurved;
  padding: .9375rem;

  h4 {
    font-size: 1.125rem;
    font-weight: 600;
  }

  p {
    font-size: .875rem;
    line-height: 1.375rem
  }
}

nav {
  &.productPage {
    padding: .9375rem .9375rem 0;

    .breadcrumb-item {
      font-size: .75rem;

      a {
        color: $body;
      }

      &+.breadcrumb-item {
        &:before {
          width: .45rem;
          height: .45rem;
          opacity: .6;
          content: "";
          background: url(../images/iconArrowRight.svg) no-repeat left center;
          background-size: auto 100%;
        }
      }
    }
  }
}

.productImages {
  @extend .whiteBgCurved;

  .loading {
    padding: 19.4rem 0;
  }
}

.imageGallery {
  @media #{$min-width-1400} {
    padding: 2rem 0;
  }

  .slick-slide {
    text-align: center;
  }
}

.slider-thumbs {
  &.slick-initialized {
    .slick-slide {
      float: left;
      margin: .625rem;
      border: solid 1px $white;

      &.slick-center {
        border: solid 1px $highlight;
        @include border-radius(.25rem);
        @include box-shadow(0 0 5px $highlight);

        img {
          @include border-radius(.25rem);
        }
      }
    }
  }
}

.productInformation {
  @extend .whiteBgCurved;
  padding: .9375rem;
  font-size: .875rem;
  height: 46.5rem;
  overflow-y: scroll;

  &::-webkit-scrollbar {
    width: .5rem;
  }

  &::-webkit-scrollbar-track {
    background: $white;
  }

  &::-webkit-scrollbar-thumb {
    background: #ddd;
    @include border-radius(.355rem);
  }

  &::-webkit-scrollbar-thumb:hover {
    background: $fadeGray;
  }

  @media #{$max-width-991} {
    margin: .9375rem 0;
  }

  h3 {
    font-size: 1.125rem;
    font-weight: 600;
    margin: .25rem 0 .5rem 0;
  }

  .offer {
    margin: .75rem 0;
    color: #417505;
  }


  p {
    margin: .75rem 0;
  }

  hr {
    margin: .75rem 0;
  }

  h4 {
    font-weight: 600;
    font-size: .875rem;
  }
}

.countDownTimer {
  color: #417505;

  span {
    color: #417505;
  }
}

.productWeight {
  @extend .whiteBgCurved;
  padding: .9375rem;
  font-size: .875rem;

  .weight {
    @include transition(all .3s ease-in);

    h4 {
      font-weight: 600;
      font-size: .875rem;

      span {
        font-weight: 400;
      }
    }

    .selectWeight {
      margin: .75rem 0;

      label {
        margin: .3rem .5rem .3rem 0;

        span {
          display: inline-block;
          padding: .5rem 1rem;
          border: solid 2px $border;
          @include border-radius(.25rem);
          font-weight: 600;
          cursor: pointer;
        }

        input {
          position: absolute;
          opacity: 0;

          &:checked+span {
            border: solid 2px $highlight;
            color: $highlight;
          }
        }
      }
    }

    &.height {
      height: 8rem;
      overflow: hidden;
      max-height: 8rem;
    }
  }

  .seeMore {
    display: block;
    text-align: center;
    margin-top: 10px;
    padding: 5px 0 0;
    cursor: pointer;

    span {
      color: $link;
    }

    img {
      width: .75rem;
      height: .625rem;
      opacity: .6;
      margin: -.1rem 0 0 .2rem;
      @include transition(transform .2s .1s ease-in);
    }

    &.active {
      img {
        transform: rotate(180deg);
      }
    }
  }
}

.priceCart {
  @extend .whiteBgCurved;
  padding: .9375rem;
  font-size: .875rem;
  margin-top: .9375rem;

  .price {
    line-height: 1rem;

    .old {
      color: $fadeGray;
      text-decoration: line-through;
      font-size: 1rem;
    }

    .new {
      color: #c00;
      font-size: 1.2rem;
    }
  }

  .qty {
    padding-top: .25rem;
    span {
      border: none;
      line-height: 1.3rem;
    }

    select {
      @include border-radius(.25rem);
    }
  }

  p {
    margin: .5rem 0 0;

    &.saved {
      font-weight: 600;

      span {
        color: #c00;
        font-weight: 600;
      }
    }
  }

  .addtoCartBtn {
    padding-top: 1.3rem;

    a {
      display: block;
      text-align: center;
      @extend .btnGradientOrange;
      font-size: 1.2rem;
      padding: 0 .875rem;
      line-height: 2.4rem;
      @include border-radius(.25rem);
    }
  }
}

.nutritionInfo {
  @extend .whiteBgCurved;
  padding: .9375rem;
  font-size: .875rem;
  margin-top: .9375rem;
  height: 15.3rem;
  overflow-y: scroll;

  &::-webkit-scrollbar {
    width: .5rem;
  }

  &::-webkit-scrollbar-track {
    background: $white;
  }

  &::-webkit-scrollbar-thumb {
    background: #ddd;
    @include border-radius(.355rem);
  }

  &::-webkit-scrollbar-thumb:hover {
    background: $fadeGray;
  }


  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;

    li {
      padding: .2rem 0;
    }
  }
}

.detailTabs {
  @extend .whiteBgCurved;
  padding: .9375rem;
  font-size: .875rem;
  margin-top: .9375rem;

  .col-md-10 {
    position: static;
  }

  .borderBottom {
    border-bottom: solid 1px $border;
  }

  #proDetailTabs {
    list-style-type: none;
    margin: 0;
    padding: 0;

    li {
      display: inline-block;
      padding-right: 3rem;

      a {
        display: block;
        cursor: pointer;
        line-height: 2.5rem;
        font-size: 1.125rem;
        border-bottom: 2px solid $white;

        &.active {
          color: $highlight;
          border-color: $highlight;
        }
      }
    }
  }

  .targetContent {
    display: none;
    padding: .9375rem 0 0;
    font-size: 1rem;
    line-height: 1.5;
    max-height: 20rem;
    overflow: hidden;
    @include transition(all .3s ease-in);

    &.heightAuto {
      max-height: none;
      padding-bottom: 3rem;
      @include transition(all .3s ease-in);
    }

    .readMore {
      position: absolute;
      width: 100%;
      left: 0;
      bottom: 0;
      display: block;
      text-align: center;
      padding: 5px 0 0;
      cursor: pointer;
      line-height: 3rem;
      background: $white;
      text-transform: uppercase;
      @include box-shadow(0 -10px 10px rgba(0, 0, 0, .25));

      img {
        width: .85rem;
        height: .725rem;
        opacity: .6;
        margin: -.1rem 0 0 .2rem;
        @include transition(transform .2s .1s ease-in);
      }

      &.active {
        img {
          transform: rotate(180deg);
        }
      }
    }
  }
}

.note {
  @extend .whiteBgCurved;
  padding: .9375rem;
  font-size: .875rem;

  h4 {
    font-size: .875rem;
    font-weight: 600;
  }
}

.reviews {
  @extend .whiteBgCurved;
  padding: .9375rem 3rem;
  font-size: .875rem;

  h3 {
    text-align: center;
    font-size: 1.125rem;
    text-transform: uppercase;
    font-weight: 600;
    line-height: 2;
    margin-bottom: 1rem;
  }

  .reviewLogin {
    padding: 1rem 0;
    text-align: right;
    border-top: solid 1px $border;
    border-bottom: solid 1px $border;

    .btn {
      border: solid 1px $border;
      color: $body;
    }

    .dropdown-item {
      padding: .25rem 1rem;

      figure {
        display: inline-block;
        width: 1.15rem;
        height: 1.15rem;
        margin-right: .5rem;
        text-align: center;

        svg {
          height: 100%;
        }
      }
    }
  }
}

.reviewSummary {
  padding: 2rem 0;
  align-items: center;
  justify-content: center;

  .summary {
    .ratingView {
      .rating {
        width: 7.5rem;
        height: 1.315625rem;

        &::after {
          background: url(../images/starFillBig.svg) repeat-x left center;
        }

        &::before {
          background: url(../images/starEmptyBig.svg) repeat-x left center;
        }

        &:after,
        &:before {
          background-size: 1.5rem 1.315625rem;
        }
      }
    }

    .totalStarts {
      float: left;
      margin-top: 2rem;
      margin-right: 2rem;
      text-align: center;

      h4 {
        font-size: 2.5rem;
      }

      p {
        font-size: .75rem;
        color: $fadeGray;
        margin-top: .65rem;
      }
    }

    .ratingAccorgingStars {
      display: inline-block;

      ul {
        list-style-type: none;
        padding: 0;
        margin: 0;
        display: inline-block;

        li {
          float: left;
          clear: both;
          padding: .4rem;

          div {
            float: left;

            &.star {
              background: $fadeGray url(../images/starWhite.svg) no-repeat 80% 47%;
              background-size: auto .75rem;
              padding: .1rem 1.5rem .1rem .5rem;
              color: $white;
              @include border-radius(.75rem);
              line-height: 1.2;
            }

            &.starPercent {
              width: 10rem;
              height: 1.2rem;
              margin: 0 1rem;
              background: $border;
              position: relative;

              span {
                position: absolute;
                left: 0;
                top: 0;
                height: 1.2rem;
                display: block;
                background: $yellow;
              }
            }

            &.percent {
              text-align: right;
              width: 2.5rem;
              color: $fadeGray;
            }
          }
        }
      }
    }
  }

  .writeReviewBtn {
    a {
      padding: 0 1.5rem;
      border: solid 2px $yellow;
      color: $yellow;
      @include border-radius(.25rem);
      line-height: 2.5;
      display: inline-block;
      font-size: 1rem;
      text-transform: uppercase;
      @include transition(all .3s ease-in);

      &:hover {
        background: $yellow;
        color: $white;
      }
    }
  }
}

.reviewSortby {
  border-bottom: solid 1px $border;

  .heading {
    div {
      display: inline-block;
      font-size: 1rem;
      font-weight: 600;
      line-height: 3;
      position: relative;

      &:after {
        content: "";
        position: absolute;
        left: 0;
        bottom: -3px;
        width: 100%;
        height: 1px;
        background: $link;
      }

      span {
        color: $fadeGray;
        font-weight: 600;
      }
    }
  }

  .sortBy {
    .dropdown {
      .btn {
        line-height: 3;
        padding: 0 .75rem;
        color: $body;
      }

      .dropdown-item {
        color: $body;
        line-height: 2;
      }
    }
  }
}

.userReview {
  border-bottom: solid 1px $border;
  padding: 1.1rem 0;

  .user {
    .media {
      img {
        width: 2.875rem;
        height: 2.875rem;
        @include border-radius(50%);
      }

      h5 {
        font-size: .875rem;
        font-weight: 600;

        span {
          color: $fadeGray;
          display: inline-block;
          margin-left: .8rem;
        }
      }

      .verifiedUser {
        display: inline-block;
        font-size: .875rem;
        margin-left: .25rem;

        span {
          font-weight: 600;
          color: $fadeGray;
          margin-left: .25rem;
        }
      }
    }
  }

  .reviewRecommend {
    background: $border;
    font-style: italic;
    height: 1.8rem;
    padding: 0 .8rem 0 .5rem;
    @include border-radius(.9rem);
    line-height: 1.8rem;
    color: #50bd8e;
    font-size: .75rem;

    svg {
      margin-right: .35rem;
    }
  }

  .comments {
    line-height: 1.5;
    padding: 1rem 0;
  }

  .reviewAttachments {


    .attachments {
      display: inline-block;
      width: 4rem;
      margin-right: .3rem;

      img {
        width: 100%;
      }
    }
  }

  .shareHelpful {
    padding-top: 1.5rem;

    .share {
      .btn {
        border: solid 1px $border;
        color: $body;
        font-size: 1rem;
        padding: .2rem .75rem;

        svg {
          margin-right: .25rem;
        }
      }

      .dropdown-item {
        padding: .25rem 1rem;

        figure {
          display: inline-block;
          width: 1.15rem;
          height: 1.15rem;
          margin-right: .5rem;
          text-align: center;

          svg {
            height: 100%;
          }
        }
      }
    }

    .wasHelpful {

      font-weight: 600;
      color: $fadeGray;

      a {
        display: inline-block;
        margin-left: .8rem;

        span {
          color: $fadeGray;
          font-weight: 600;
        }
      }
    }
  }
}

nav {
  .pagination {
    margin-top: 1.8rem;

    .page-item {
      .page-link {
        border: none;
        font-weight: 600;
        color: $fadeGray;
        position: relative;

        &:hover {
          background-color: transparent;
          color: $body;
        }
      }

      &.active {
        .page-link {
          background: none;
          color: $body;

          &:after {
            content: "";
            position: absolute;
            bottom: 0;
            left: 50%;
            width: 1rem;
            height: 2px;
            margin-left: -.5rem;
            background: $body;
          }
        }
      }

      &.disabled {
        .page-link {
          opacity: .5;
        }
      }
    }
  }
}

.removedItemMsg {
  padding: 2rem .9375rem;
  font-size: .875rem;
  font-weight: 600;

  a {
    font-weight: 600;
    color: $highlight;
  }
}

.emptyCartInfo {
  text-align: center;
  margin: 5rem 0;

  img {
    max-width: 12rem;
  }

  p {
    font-size: .875rem;
    margin: 1rem 0;
  }
}

.buttonContainer {
  text-align: center;

  a {
    display: inline-block;
    text-align: center;
    @extend .btnGradientOrange;
    font-size: 1rem;
    padding: 0 1.5rem;
    line-height: 2.4rem;
    @include border-radius(.25rem);
  }
}

.priceNdiscount {
  margin: 10px 0;

  .big {
    color: #80170E;
    font-size: 1rem;
    font-weight: 600;
  }

  span {
    color: #80170E;
    font-size: .875rem;

    &.strike {
      text-decoration: line-through;
      color: $fadeGray;
      font-size: .875rem;
    }
  }

}

.green {
  color: #417505 !important;
}

.cartContent {
  @extend .whiteBgCurved;

  h4 {
    font-size: .875rem;
    text-transform: uppercase;
    color: $body;
    padding: 0 .9375rem;
    line-height: 3rem;
    border-bottom: solid 1px $border;
    font-weight: 600;
  }

  .media {
    padding: .9375rem;
    border-bottom: solid 1px $border;

    .mr-3 {
      max-width: 9rem;
      margin-right: 1.5rem !important;
    }

    .media-body {
      h5 {
        font-size: 1.125rem;
      }

      ul {
        list-style-type: none;
        padding: 0;

        li {
          margin: .1rem 0;
          font-size: .875rem;
        }
      }
    }
  }
}

.qty {
  display: inline-block;

  span {
    float: left;
    line-height: 2rem;
    padding: 0 .5rem;
    border: solid 1px $border;
    @extend .noSelect;
    font-size: .875rem;

    &.minus {
      background: $border;
      @include border-radius(4px 0 0 4px);
      cursor: pointer;
    }

    &.value {
      padding: 0 .8rem;
    }

    &.plus {
      background: $border;
      @include border-radius(0 4px 4px 0);
      cursor: pointer;
    }
  }
}

.action {
  display: inline-block;

  .qty {
    float: left;
  }

  a {
    float: left;
    line-height: 2rem;
    margin-left: 2rem;
    font-weight: 600;
    color: $headline;

    &:hover {
      opacity: .7;
    }
  }
}

.btnContainer {
  padding: .9375rem;
  text-align: right;
  @include box-shadow(0 -5px 5px rgba(0, 0, 0, .15));

  a {
    display: inline-block;
    text-align: center;
    font-size: 1.125rem;
    padding: 0 2.5rem;
    line-height: 2.4rem;
    @include border-radius(.25rem);
    margin-left: 1rem;

    &.gray {
      @extend .btnGradientGray;
      color: $headline;
    }

    &.orange {
      @extend .btnGradientOrange;
    }
  }
}

.priceDetails {
  @extend .whiteBgCurved;

  h4 {
    font-size: .875rem;
    text-transform: uppercase;
    color: $fadeGray;
    padding: 0 .9375rem;
    line-height: 3rem;
    border-bottom: solid 1px $border;
    font-weight: 600;
  }

  ul {
    padding: 0;
    padding-bottom: 1rem;

    li {
      display: flex;
      align-items: flex-end;
      padding: 0 .9375rem;

      span {
        display: inline-block;
        line-height: 2.2rem;

        &:first-child {
          flex-grow: 1;
        }
      }

      &.bold {
        span {
          font-weight: 600;
        }
      }
    }
  }
}

.applyPromocode {
  @extend .whiteBgCurved;
  position: relative;

  input.promocode {
    display: inline-block;
    width: 100%;
    height: 3.125rem;
    text-align: left;
    padding: 0 .9375rem;
    position: relative;
    font-size: 14px;
    border: none;
    background: transparent;
  }

  button {
    position: absolute;
    width: 3.125rem;
    border: none;
    height: 3.125rem;
    top: 0;
    right: 0;
    background: url(../images/iconArrowDown.svg) no-repeat center center;
    background-size: .9375rem;

    &.active {
      transform: rotate(180deg);
    }
  }

  .remove {
    position: absolute;
    line-height: 1rem;
    font-size: .75rem;
    color: #c00;
    top: 1rem;
    padding: 0 .5rem;
    right: 3.125rem;
    cursor: pointer;
    display: none;
  }

  &.promocodeAdded {
    .remove {
      display: inline-block;
    }
  }

  .selectPromocode {
    display: none;

    .custom-control {
      padding: 1rem 0 1rem 1.5rem;
      border-top: solid 1px $border;
      padding-right: 1rem;

      label {
        .pCode {
          display: inline-block;
          border: dashed 1px $fadeGray;
          padding: 2px 5px;
          margin-right: .625rem;
          border-radius: 4px;
          font-size: .875rem;
          margin-bottom: .5rem;
        }

        .pSave {
          color: #0a0;
          font-size: .875rem;
          margin-bottom: .5rem;
        }

        p {
          margin-top: .7rem;
          margin-bottom: 0;
          line-height: 1.2;
          font-size: .875rem;
        }
      }
    }
  }
}

.checkoutPanel {
  @extend .whiteBgCurved;
  margin-bottom: .9375rem;

  .cartContent {
    border-top: solid 1px $border;

    .media {
      border: none;
    }
  }

  h4 {
    display: block;
    margin: 0;
    padding: 0 .9375rem;
    line-height: 3rem;
    font-size: .875rem;
    font-weight: 600;
    text-transform: uppercase;
    @include border-radius(.25rem);
  }

  &.active {
    h4 {
      background: #4E5563;
      color: $white;
    }
  }

  &.done {
    h4 {
      position: relative;

      &:after {
        position: absolute;
        content: "";
        width: 3rem;
        height: 3rem;
        top: 0;
        right: 0;
        background: url(../images/doneBlack.svg) no-repeat center center;
        background-size: 1.2rem;
      }
    }
  }

  .content {
    &.login {
      padding: 2rem 0;

      .googleLogin {
        display: inline-block;
        line-height: 2.5rem;
        font-size: 1rem;
        text-transform: uppercase;
        color: $headline;
        border: solid 1px $headline;
        padding: 0 1rem;
        margin-top: 2rem;
        @include border-radius(.25rem);

        svg {
          margin-right: .5rem;
          margin-top: -.2rem;
        }
      }

      input {
        width: 100%;
        border: none;
        border-bottom: solid 1px $fadeGray;
        line-height: 2.5rem;
        font-size: .875rem;
        margin-bottom: 1rem;
      }

      .or {
        padding-top: 2.5rem;
      }

      .email,
      .password {
        display: inline-block;
        width: 100%;
        max-width: 20rem;

        a {
          display: inline-block;
          text-align: center;
          font-size: 1rem;
          width: 100%;
          line-height: 2.4rem;
          @include border-radius(.25rem);
          @extend .btnGradientOrange;
        }
      }
    }

    &.address {
      padding: 2rem 0 0;
    }

    &.summary {
      padding: 2rem .9375rem;

      strong {
        color: $headline;
      }

      p {
        margin-bottom: 0;
      }

    }

    &.payment {
      padding: 0;

      .payOptions {
        margin: 1rem 0;

        .custom-control {
          padding-top: 1rem;
          padding-bottom: 1rem;
          border-bottom: solid 1px $border;

          .verifyContainer {
            padding: 1rem 0 1rem 1.8rem;
          }

          p:first-child {
            margin-top: 0;
          }

          .verifyMobileNumner {
            display: inline-block;
            margin: 1rem 1rem 1rem 0;

            input {
              float: left;
              width: 12rem;
              height: 2rem;
              border: solid 1px $fadeGray;
              @include border-radius(4px);
              padding: 0 .625rem;
              font-size: .875rem;
            }

            button {
              border: none;
              margin-left: .8rem;
              display: inline-block;
              text-align: center;
              font-size: .875rem;
              padding: 0 2rem;
              line-height: 2rem;
              @include border-radius(.25rem);
              @extend .btnGradientOrange;
            }
          }
        }
      }
    }
  }

  .custom-control {

    label {
      strong {
        color: $headline;
      }

      a.button {
        display: inline-block;
        text-align: center;
        font-size: 1rem;
        padding: 0 3rem;
        margin-top: 1rem;
        cursor: pointer;
        line-height: 2.4rem;
        @include border-radius(.25rem);
        @extend .btnGradientOrange;
      }

      p {
        margin-top: .7rem;
      }
    }
  }
}

.pageTitleImage {
  text-align: center;
  padding: 1rem 0;
}

.addNewAddress {
  h5 {
    border-top: solid 1px $border;
    line-height: 3rem;
    margin: 0;
    padding: 0 .9375rem;
    margin-top: 2rem;
    font-size: 1rem;

    img {
      width: 1rem;
      opacity: .5;
      margin-right: .5rem;
    }
  }
}

.custom-control-label {
  padding-left: 1.8rem;
}

.filter {
  .custom-control-label {
    padding-left: 0;
  }
}

.custom-checkbox {
  &.blue {
    .custom-control-label {
      padding-left: 0;
    }
  }
}

.custom-control-label::before {
  border-color: $fadeGray;
  width: 1.2rem;
  height: 1.2rem;
  border-width: 0.125rem;
  top: .15rem;
  left: .1rem;
}

.custom-control-label::after {
  background: no-repeat center center;
  background-size: .7rem auto;
  top: .25rem;
  left: .2rem;
}

.custom-control-input:checked~.custom-control-label::before {
  color: $white;
  border-color: $headline;
  background-color: $white;
}

.custom-radio .custom-control-input:checked~.custom-control-label::after {
  background-image: url(../images/radioAfter.svg);
}

.custom-checkbox .custom-control-input:checked~.custom-control-label::after {
  background-image: url(../images/checkboxAfter.svg);
}

.blue {
  .custom-control-input:checked~.custom-control-label::before {
    color: $white;
    border-color: $link;
    background-color: $link;
  }
  .custom-control-input:checked~.custom-control-label::after {
    background-image: url(../images/checkboxAfterWhite.svg);
  }
}

.custom-control-input:focus~.custom-control-label::before {
  @include box-shadow(none);
}

.btnContainer {
  &.flexGrow1st {
    text-align: initial;
  }
}

.offerIcon {
  display: inline-block;
  padding: .2rem .4rem;
  font-size: .625rem;
  border-radius: .25rem;
  font-weight: 600;
  background: $headline;
  color: $white;

  img {
    width: .7rem;
    float: left;
    margin: .1rem .3rem 0 0;
  }
}

.loginContainer {
  width: 100%;
  max-width: 24rem;
  display: inline-block;
  background: $white;
  padding: 1rem 0;
  margin: 2rem 0;

  h4 {
    font-size: 1.125rem;
    color: $headline;
    margin: .7rem 0 1rem 0;
  }

  .socialLogin {
    padding: 1.25rem 2rem;
    text-align: center;
    margin: auto;
    width: 100%;

    a {
      display: block;
      line-height: 2.75rem;
      clear: both;
      border: solid 2px $headline;
      color: $headline;
      font-size: 1rem;
      @include border-radius(4px);
      font-weight: 600;

      img {
        height: 1.25rem;
        margin: -.2rem .625rem 0 0;
      }
    }

  }

  .or {
    margin-top: 1rem;
    font-weight: 600;
    font-style: italic;
    color: $fadeGray;
    font-size: 1.125rem;
  }

  .figureContainer {
    text-align: center;
    padding: 1rem 0;

    img {
      max-width: 10rem;
    }
  }

  p {
    padding: 2rem 2rem 0;
    text-align: left;
    margin: 0;
  }

  .lineInput {
    padding: 1.25rem 2rem;
    text-align: center;
    margin: auto;

    input {
      margin: .625rem auto;
      width: 100%;
      height: 2.5rem;
      border: none;
      font-size: 1rem;
      line-height: 2.5rem;
      border-bottom: solid 1px $fadeGray;
    }

    button {
      width: 100%;
      height: 2.5rem;
      margin-top: 1.25rem;
      border: none;
      font-weight: 600;
      font-size: 1rem;
      @extend .btnGradientOrange;
      @include border-radius(4px);
      padding: 0 .625rem;
    }

    .forgotPass {
      position: relative;
      margin: auto;

      a {
        position: absolute;
        top: 1.35rem;
        right: 0;
        font-size: .7rem;
        color: $highlight;
      }
    }

    p {
      text-align: left;
      line-height: 1.2;
    }
  }

}

.userInfo {
  background: $headline;
  padding: 0.9375rem;
  @include border-radius(.25rem);
  margin-bottom: 0.9375rem;

  .media {
    @media #{$max-width-991} {
      display: block;
      text-align: center;
    }

    img {
      width: 4rem;

      @media #{$max-width-991} {
        margin: 0 0 1rem;
      }
    }

    .media-body {
      color: $white;
      font-size: .875rem;

      h5 {
        color: $white;
        font-size: 1rem;
        font-weight: 600;
      }
    }
  }
}

.accountLinks {
  @extend .whiteBgCurved;

  ul {
    list-style-type: none;
    padding: 0;

    li {
      border-bottom: solid 1px $border;

      a {
        display: inline-block;
        width: 100%;
        padding: 1.2rem .9375rem;
        background: url(../images/iconArrowRight.svg) no-repeat 94% 50%;
        background-size: .6rem auto;


        img {
          max-width: 1.25rem;
          height: 1.25rem;
          float: left;
          margin-right: .9375rem;
          margin-top: .1rem;
          opacity: .6;
          @include transition(opacity .3s ease-in);
        }

        &:hover {
          img {
            opacity: 1;
          }
        }

        span {
          line-height: 1.25rem;
          font-size: 1rem;
          color: $headline;
        }

        &.active {
          background: rgba(233, 162, 57, .2) url(../images/iconArrowRight.svg) no-repeat 94% 50%;
          background-size: .6rem auto;
        }
      }

      &:first-child {
        a {
          @include border-radius(.25rem .25rem 0 0);
        }
      }

      &:last-child {
        a {
          @include border-radius(0 0 .25rem .25rem);
        }
      }
    }
  }
}

.myAccountContent {
  @extend .whiteBgCurved;

  &.noBg {
    background: transparent;
  }

  .heading {
    font-size: 1rem;
    text-transform: uppercase;
    color: $headline;
    padding: .9375rem;
    border-bottom: solid 1px $border;
  }

  .content {
    padding: .9375rem;

    &.personalInfo {
      padding: 1.5rem 2rem;

      .row {
        margin-bottom: 2rem;

        &:last-child {
          margin-bottom: 1rem;
        }
      }
    }

    &.couponsContainer {
      padding: 0 0.5rem;

    }

    .table {
      thead {
        th {
          border-top: 0;
          border-color: $border;
          font-size: .875rem;
        }
      }

      tbody {
        th {
          font-size: .875rem;
          border-color: $border;
          line-height: 2rem;
        }

        td {
          font-size: .875rem;
          border-color: $border;
          line-height: 2rem;

          a {
            display: inline-block;
            line-height: 2rem;
            padding: 0 1rem;
            @include border-radius(.25rem);
            color: $headline;
            margin-right: .5rem;
            @include box-shadow(0 0 3px rgba(0, 0, 0, .3));

            &:active {
              @include box-shadow(none);
            }
          }

          &.cancelled {
            color: #c00;
          }

          &.intransit {
            color: $link;
          }

          &.delivered {
            color: #0c0;
          }
        }
      }
    }
  }
}

.personalInfo {
  .custom-control {
    display: inline-block;
    margin-right: 1rem;
    margin-top: 1.2rem;
    padding-left: 0;
  }

  button {
    border: none;
    line-height: 2.5rem;
    padding: 0 3rem;
    @include border-radius(.25rem);
  }
}

.field {
  display: flex;
  flex-flow: column-reverse;
  position: relative;

  label,
  input,
  select {
    font-size: .875rem;
    margin: 0;
    transition: all 0.2s ease-in;
    touch-action: manipulation;
  }

  input,
  select {
    background: transparent;
    font-size: .875rem;
    z-index: 1;
    position: relative;
    height: 2.625rem;
    border: none;
    border-bottom: 1px solid $fadeGray;
    font-weight: 600;
    cursor: text;

    &:focus {
      outline: 0;
    }

    &:placeholder-shown+label {
      cursor: text;
      position: relative;
      z-index: 0;
      font-size: .875rem;
      display: block;
      line-height: 1rem;
      white-space: nowrap;
      margin: 0;
      overflow: hidden;
      text-overflow: ellipsis;
      transform-origin: left bottom;
      transform: translate(0, 1.8125rem);
    }

    &::-webkit-input-placeholder {
      opacity: 0;
      font-weight: 400;
      transition: inherit;
    }

    &:focus::-webkit-input-placeholder {
      opacity: .7;
    }

    &:not(:placeholder-shown)+label,
    &:focus+label {
      padding: 0;
      line-height: 1rem;
      transform: translate(0, .2rem);
      cursor: pointer;
      color: $fadeGray;
    }
  }
}

.wishlist,
.orderItems {
  .media {
    border-bottom: solid 1px $border;
    padding: 1.5rem;
    margin: 0 -.9375rem;

    &:last-child {
      border: none;
    }

    >img {
      width: 10rem;
    }

    .media-body {
      position: relative;

      >a {
        display: block;
        font-size: 1.125rem;
        color: $headline;
        margin-bottom: .3rem;
      }

      .price {
        .big {
          color: $headline;
          font-size: 1rem;
          font-weight: 600;
          margin-right: .3rem;
        }

        span {
          color: #c00;
          font-weight: 400;

          &.strike {
            color: $fadeGray;
            margin-right: .3rem;
          }
        }
      }

      button {
        position: absolute;
        right: 1rem;
        top: 50%;
        margin-top: -1.5rem;
        background: transparent;
        padding: 0.5rem;
        border: none;

        &:focus {
          outline: none;
        }

        img {
          width: 1.5rem;
        }
      }
    }
  }
}

.wishlist {
  .media-body {
    padding-right: 7rem;
  }
}

.veg,
.nonVeg {
  width: .8rem;
  height: .8rem;
  display: inline-block;
  margin: 0 .5rem;
  background: no-repeat center center;
  background-size: 100% 100%;
}

.veg {
  background-image: url(../images/veg.svg);
}

.nonVeg {
  background-image: url(../images/nonVeg.svg);
}

.couponsContainer {
  background: $border;

  .codeCopied {
    display: none;
    width: 100%;
    text-align: center;
    position: fixed;
    bottom: 0;
    left: 0;
    padding: .625rem 1rem;
    background: $headline;
    color: $white;
    font-size: 1rem;
    line-height: 1.3;
    z-index: 999;

    strong {
      color: $white;
    }
  }

  .coupon {
    display: block;
    background: $white;
    @include border-radius(.25rem);
    @include box-shadow(0 0.1875rem .625rem rgba(0, 0, 0, .2));
    position: relative;
    margin-bottom: 1.5rem;

    div {
      display: inline-block;

      &.details {
        padding: .625rem;
        width: 80%;
        margin-bottom: -1px;

        .off {
          font-size: 1rem;
          color: $highlight;
          font-weight: 600;
        }

        h3 {
          margin: .625rem 0;
          font-size: 1rem;

          input {
            display: inline-block;
            font-weight: 600;
            border: none;
            width: 18rem;
            font-size: 1rem;

            &:focus {
              -webkit-appearance: none;
              -moz-appearance: none;
              appearance: none;
              outline: none;
            }
          }
        }

        p {
          font-size: .875rem;
          line-height: 1.3;
          margin-top: 15px;
          padding: 0;

          &.note {
            font-size: .75rem;
          }
        }
      }

      &.copy {
        display: flex;
        align-items: center;
        width: 20%;
        position: absolute;
        top: 0;
        right: 0;
        @extend .btnGradientOrange;
        height: 100%;
        @include border-radius(0 .25rem .25rem 0);



        span {
          display: inline-block;
          margin: auto;
          padding: 0 15px;
          line-height: 1.875rem;
          font-size: .875rem;
          color: $highlight;
          border: none;
          font-weight: 600;
          @include border-radius(15px);
          background: rgba(255, 255, 255, 0.7);
        }
      }
    }

    button {
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      opacity: 0;
      border: none;
      background: transparent;
    }
  }
}

.pointsInfo,
.addAddress {
  display: block;
  margin-bottom: 15px;
  padding: 15px;
  @include border-radius(.25rem);
  @extend .whiteBgCurved;

  img {
    width: 15px;
    margin: 0 0.3125rem -2px 0;
  }

  span {
    line-height: 1.25rem;
    display: inline-block;

  }

}

.addAddress {
  img {
    opacity: .6;
    width: 1.1rem;
    margin: -.1rem 0.5125rem 0 0;

  }
}

.storeCredit {
  @extend .whiteBgCurved;
  @include border-radius(.25rem);
}

.eventTable {
  text-align: left;
  margin: 0 -.9375rem;

  table {
    width: 100%;
    font-size: .875rem;
    line-height: 1.3;

    thead {
      font-weight: 600;
      border-bottom: solid 1px $border;

      th {
        vertical-align: bottom;
        padding: .9375rem;


      }
    }

    tbody {
      tr {
        td {
          padding: .9375rem;



          &.credit {
            color: #0c0;
          }

          &.debit {
            color: #c00;
          }
        }

        &:nth-child(2n) {
          background: $border;
        }
      }
    }
  }

}

.addressList {
  .row {
    padding: 0 7.5px;

    .col-md-4 {
      padding: 0 7.5px;
    }
  }

  .savedAddress {
    @extend .whiteBgCurved;
    padding: 15px;
    font-size: 1rem;

    h5 {
      font-size: 1rem;
      font-weight: 600;
    }

    .actions {
      margin: 0 -15px -15px;
      border-top: solid 1px $border;
      display: flex;

      a {
        display: inline-block;
        flex: 1 1 0;
        text-align: center;
        line-height: 3rem;
        font-size: 1rem;
        color: $headline;
        @include transition(all .3s ease-in);

        &:hover {
          background: #fafafa;
        }

        &:first-child {
          position: relative;

          &:after {
            position: absolute;
            content: "";
            right: -1px;
            top: 0;
            width: 1px;
            height: 100%;
            background: $border;
          }
        }
      }
    }
  }
}

.affiliate {
  ul {
    margin-bottom: 2rem;

    li {
      display: inline-block;
      margin-right: 1.5rem;

      a {
        &.active {
          font-weight: 600;
        }
      }
    }
  }

  .affiliateTab {
    h4 {
      font-size: 1rem;
      font-weight: 600;
    }

    p {
      font-size: 1rem;
    }

    .formInput {
      label {
        display: block;
        font-weight: 600;
      }

      input {
        display: block;
        width: 100%;
        border: solid 1px $fadeGray;
        padding: 0 1rem;
        line-height: 2.2rem;
        @include border-radius(.25rem);
      }
    }

    a.btnGradient {
      display: block;
      margin-top: 1rem;
      color: $headline;
      line-height: 2.2rem;
      @include border-radius(.25rem);
    }
  }
}

.orderInfo {
  border-bottom: solid 1px $border;
  padding: 1rem;

  .info {

    margin-bottom: 1rem;

    ul {
      li {
        font-size: 1rem;
        line-height: 2;

        strong {
          font-weight: 600;
        }
      }
    }
  }

  .address {
    h5 {
      font-size: 1rem;
      font-weight: 600;
    }

    address {
      font-size: 1rem;
    }
  }

  .actions {
    a {
      display: inline-block;
      line-height: 2.2rem;
      width: 8rem;
      text-align: center;
      @include border-radius(.25rem);
      margin-bottom: 1rem;
      color: $headline;
      font-size: 1rem;
      @include box-shadow(0 0 3px rgba(0, 0, 0, .3));
    }
  }
}

.authenticity {
  padding: 15px 0;

  h4 {
    text-transform: uppercase;
    font-size: 1rem;
    font-weight: 600;
    margin: 3rem 0 2rem 0;
    text-align: center;

    &.text-transform-none {
      text-transform: none;
      line-height: 1.3;
    }

    &:first-child {
      margin-top: 1rem;
    }
  }

  p {
    margin: 15px 0;
    line-height: 1.3;
  }

  ul {
    li {
      background: url(../images/iconTickGreen.svg) no-repeat 0px 0px;
      background-size: 1rem;
      padding-left: 2rem;
      margin: .625rem 0;
      line-height: 1.3;
      border-bottom: solid 1px $border;
      padding-bottom: 15px;
    }

    &.star {
      margin-top: 2rem;

      li {
        background: url(../images/starGreen.svg) no-repeat 0px 0px;
        background-size: 1.2rem;
      }
    }
  }
}

.darkBg {
  background: $bgDark;
  margin-top: 4rem;
  margin-bottom: 2rem;
  padding: 15px;
  text-align: center;

  a {
    @include border-radius(.25rem);
    margin-top: 5px;
    margin-bottom: 5px;
    display: inline-block;
    @extend .btnGradientGray;
    @include box-shadow(0 0 3px rgba(0, 0, 0, .3));
    padding: 0 1.2rem;
    line-height: 2.2rem;
    color: $headline;
    margin-left: 2rem;
  }

  p {
    display: inline-block;
    margin-top: 5px;
    color: $white;
  }
}

.lineSeparator {
  border-top: solid 10px $border;
  height: 0;
}

.certificate {
  padding-top: 0;
  padding: 15px 0;

  h4 {
    text-transform: uppercase;
    font-size: 15px;
    font-weight: 600;
    margin: 20px 0;
    text-align: center;
  }

  .selectBrand {
    text-align: center;
    padding: 15px;
    margin: auto;
    max-width: 1000px;

    .dropdown {
      .dropdown-toggle {
        background: $border;
        text-align: left;
        border: none;
        @include box-shadow(0 0 5px rgba(0, 0, 0, .3));
        position: relative;
        padding: .5rem 1rem;

        .label,
        .value {
          display: block;
        }

        .label {
          font-size: .8rem;
          padding-right: 2rem;
          margin-bottom: .3rem;
        }

        .value {
          font-size: .875rem;
          font-weight: 600;
          color: $highlight;
        }

        &:after {
          position: absolute;
          right: 1rem;
          top: .6rem;
          background: url(../images/iconDownArrowBlack.svg) no-repeat center center;
          border: none;
          width: 1rem;
          height: 1rem;
          opacity: .4;
        }
      }

      .dropdown-item {
        font-size: .875rem;
        padding: .45rem 1rem;
        cursor: pointer;

        &:hover {
          color: $highlight;
        }
      }

    }
  }
}

.brandCertificateData {
  margin-top: 15px;

  ul {
    li {
      padding: 10px 0;
      line-height: 1.3;
    }
  }

  .imageCenter {
    padding-top: 0;
  }
}

.ourStory {
  h2 {
    font-weight: 600;
    font-size: 1.7rem;
    margin-top: 0;
    margin-bottom: 1rem;
  }
}

.team {

  ul {

    li {
      text-align: center;
      margin-bottom: 2rem;

      figure {
        display: inline-block;

        img {
          @include border-radius(50%);
          width: 8rem;
        }
      }

      h5 {
        font-size: .875rem;
        font-weight: 600;
        margin: .625rem 0 5px;
      }

      p {
        font-size: .75rem;
        color: $fadeGray;
        line-height: 1.2;
        padding: 0;
      }
    }
  }
}

.aboutMore {
  background: rgb(244, 244, 244);
  padding: 1rem 15px;

  p {
    line-height: 1.5;
  }

  ul {
    list-style-type: disc;

    li {
      margin: 10px 0;
      line-height: 1.5;
    }
  }
}

.aligner {
  display: flex;
  align-items: center;
  justify-content: center;
}

.aligner-item-top {
  align-self: flex-start;
}

.aligner-item-bottom {
  align-self: flex-end;
}

.stats {
  margin: 3rem 0;
  padding: 15px;
  background: rgb(244, 245, 245);
  text-align: center;
  padding: 15px;

  h4 {
    font-weight: 600;
    font-size: 1.2rem;
    margin-bottom: 15px;
    color: $highlight;
  }

  p {
    text-transform: uppercase;
    color: $highlight;
  }

}


.thankyou {
  text-align: center;
  padding-bottom: 2rem;

  h3 {
    font-size: 1rem;
    font-weight: 600;
  }

  p {
    margin-top: 10px;
  }

  a {
    display: inline-block;
    max-width: 260px;
    line-height: 2.2;
    border: none;
    font-size: 1rem;
    @extend .btnGradientOrange;
    @include border-radius(4px);
    padding: 0 2rem;
  }
}

.top50 {
  @extend .whiteBg;

  h3 {
    font-size: 1rem;
    text-transform: uppercase;
    font-weight: 600;
    margin: 0;
    padding: 1rem;
    text-align: center;
    border-bottom: solid 1px $border;
  }

  .top50List {
    .media {
      padding: 1.5rem 0 1.5rem 6rem;
      border-bottom: solid 1px $border;
      position: relative;

      .mr-3 {
        width: 10rem;
      }

      .media-body {
        a {
          display: block;
          font-size: 1.125rem;
          color: $headline;
          margin-bottom: .3rem;
        }
      }

      .rank {
        position: absolute;
        top: 50%;
        margin-top: -.8rem;
        left: 2.5rem;
        background: $yellow;
        font-size: 14px;
        padding: 3px 5px;
        @include border-radius(2px);
        color: $white;
      }
    }
  }
}

.importer {
  text-align: center;
  padding: 2rem 0;

  img {
    max-width: 100%;
  }

  a {
    margin: 1.2rem 0;
    display: inline-block;
    line-height: 2.2rem;
    @extend .btnGradient;
    @include border-radius(.25rem);
    font-size: 1rem;
    color: $headline;
    padding: 0 2rem;
  }

  h4 {
    font-size: 1rem;
    font-weight: 600;
  }

  ul {
    margin-bottom: 2rem;

    li {
      font-size: 1rem;
      line-height: 1;
      padding: .5rem 0;
    }
  }
}

.orderPlaced {
  padding: 15px;
  margin-bottom: 15px;

  .media {
    @extend .aligner;

    .media-body {

      h5 {
        font-size: 1.5rem;
        color: $headline;
        font-weight: 600;
      }
    }
  }
}

.deliveryAddress {
  padding: 15px;
  margin-bottom: 15px;
  position: relative;

  h5 {
    font-size: 1.1rem;
    font-weight: 600;
    margin-bottom: 1rem;
  }

  p {
    margin-bottom: .5rem;

    a {
      color: $headline;

      &:hover {
        color: $link;
      }
    }
  }

  a.edit {
    color: $link;
    position: absolute;
    top: 15px;
    right: 15px;
  }
}

.shopMore {
  padding: 15px;

  h5 {
    font-size: 1.1rem;
    font-weight: 600;
    margin-bottom: 1.2rem;
  }

  a {
    display: inline-block;
    padding: 0 2rem;
    line-height: 2.5rem;
    @include border-radius(.25rem);
  }
}

.orderDetails {
  &>h5 {
    line-height: 3rem;
    padding: 0 15px;
    @extend .flexGrow1st;
    border-bottom: solid 1px $border;

    span {
      font-size: 1.1rem;
      font-weight: 600;
    }

    a {
      color: $link;
      font-size: 1rem;
    }
  }

  .media {
    padding: 15px;

    img {
      width: 7rem;
    }

    .media-body {
      a {
        color: $headline;
      }

      h5 {
        font-size: 1rem;
        font-weight: 600;
      }
    }
  }

  .total {
    line-height: 3rem;
    border-top: solid 1px $border;
    border-bottom: solid 1px $border;
    padding: 0 15px;
    font-weight: 600;
    font-size: 1.1rem;
    color: $headline;
  }

  .otherLinks {
    a {
      display: inline-block;
      margin-right: 2rem;
      color: $link;
      padding: 15px 15px 20px;
    }
  }
}

.relatedProducts {
  h4 {
    text-transform: uppercase;
    font-size: 1rem;
    font-weight: 600;
    margin: 2rem 0;
    text-align: center;
  }

  .item {
    margin: 2rem 0;
  }
}

#offersTabList {
  padding: 15px;

  li {
    margin: 1.2rem 0;

    &:first-child {
      margin-top: .3rem;
    }

    &:last-child {
      margin-bottom: .3rem;
    }

    a {
      font-weight: 600;
      line-height: 1.7;
      display: inline-block;
      border-bottom: solid 2px $white;
      cursor: pointer;

      &.active {
        border-color: $highlight;
        color: $highlight;
      }
    }
  }
}

.offerTabContent {
  display: none;
  margin-left: -15px;

  &.active {
    display: block;
  }



  h4 {
    text-transform: uppercase;
    font-size: 1rem;
    font-weight: 600;
    padding: 1.5rem 0 1rem;
    margin: 0;
    text-align: center;
  }

  .freebie {
    padding: 15px;
    margin: 0;

    li {
      border: solid 1px #eee;
      padding: .8rem 1rem;
      @include border-radius(.25rem);
      margin-bottom: 1rem;

      img {
        margin-right: .3rem;
        width: 1.3rem;
        margin-top: -.2rem;
      }
    }
  }

  .clearance,
  .comboDeals,
  .bulkPurchase {
    h4 {
      border-bottom: solid 1px $border;
    }
  }

  .bulkPurchase {
    ul {
      li {
        padding: 1rem 2rem;
        border-bottom: solid 1px $border;

        h5 {
          font-size: 1rem;
          font-weight: 600;
          margin-bottom: 1rem;
        }

        p {
          margin-bottom: 0;
        }
      }
    }
  }

  .unboxing {
    padding: 1.5rem 2rem;

    p {
      margin: 2rem 0 .8rem;

      &:first-child {
        margin-top: .5rem;
      }
    }

    li {
      margin-bottom: .5rem;
    }
  }
}

.offerProducts {
  padding: 15px;
  margin-top: 15px;
  text-align: center;

  .item {
    margin: 1.5rem 0;
  }
}

.priceFrom {
  color: $body;
  padding: 1rem 0;
  line-height: 2;
  font-weight: 600;
}

.saleOffers {
  h4 {
    text-transform: uppercase;
    font-size: 1rem;
    font-weight: 600;
    padding: 1.5rem 0 1rem;
    margin: 0;
    text-align: center;
  }
}

.saleTimer {
  background: rgb(250, 143, 111);
  background: -moz-linear-gradient(top, rgba(250, 143, 111, 1) 0%, rgba(254, 101, 85, 1) 100%);
  background: -webkit-linear-gradient(top, rgba(250, 143, 111, 1) 0%, rgba(254, 101, 85, 1) 100%);
  background: linear-gradient(to bottom, rgba(250, 143, 111, 1) 0%, rgba(254, 101, 85, 1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fa8f6f', endColorstr='#fe6555', GradientType=0);
  padding: 1rem 15px;
  text-align: center;
  color: $white;

  h5 {
    color: $white;
  }

  h3 {
    font-weight: 600;
    font-size: 1.7rem;
    line-height: 50px;
    color: $white;
    letter-spacing: .15rem;
    text-transform: uppercase;
  }

  .timer {
    text-align: center;

    li {
      display: inline-block;
      background: rgba(255, 255, 255, 0.3);
      color: $white;
      padding: .5rem 5rem;
      @include border-radius(4px);

      .big {
        display: block;
        font-weight: 600;
        font-size: 3rem;
        color: $white;
      }

      .small {
        display: block;
        font-size: .875rem;
        color: $white;
      }
    }
  }
}

.bgGreenGradient {
  background: rgb(140, 252, 209);
  background: -moz-linear-gradient(top, rgba(140, 252, 209, 1) 0%, rgba(62, 244, 203, 1) 100%);
  background: -webkit-linear-gradient(top, rgba(140, 252, 209, 1) 0%, rgba(62, 244, 203, 1) 100%);
  background: linear-gradient(to bottom, rgba(140, 252, 209, 1) 0%, rgba(62, 244, 203, 1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#8cfcd1', endColorstr='#3ef4cb', GradientType=0);
}

.bgYellowGradient {
  background: rgb(255, 255, 194);
  background: -moz-linear-gradient(top, rgba(255, 255, 194, 1) 0%, rgba(253, 253, 126, 1) 100%);
  background: -webkit-linear-gradient(top, rgba(255, 255, 194, 1) 0%, rgba(253, 253, 126, 1) 100%);
  background: linear-gradient(to bottom, rgba(255, 255, 194, 1) 0%, rgba(253, 253, 126, 1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='$whitefc2', endColorstr='#fdfd7e', GradientType=0);
}

.offerBanners {
  .row {
    margin: 0 -7.5px;

    .col-md-4 {
      padding: 0 7.7px;

      .flexGrow1st {
        @include border-radius(.25rem);
        padding: 1rem;
        align-items: center;
        margin-bottom: 15px;
        @include box-shadow(0 .15rem .35rem rgba(0, 0, 0, .3));

        .figure {
          text-align: center;

          img {
            height: 12rem;
          }
        }

        .offerOn {
          min-width: 15rem;
          text-align: center;

          h4 {
            font-weight: 600;
            color: $headline;
            font-size: 1rem;
            text-transform: uppercase;
            margin-bottom: .8rem;
          }

          p {
            color: $headline;
            font-size: .875rem;
          }

          a {
            font-weight: 600;
            display: inline-block;
            border: solid 2px $headline;
            color: $headline;
            font-size: .75rem;
            padding: .2rem .8rem;
            @include border-radius(.25rem);
            @include transition(all .3s ease-in);

            &:hover {
              background: $headline;
              color: $white;
            }
          }

        }
      }
    }
  }
}