/* Color Variables */
$link:#2F73C2;
$highlight:#e14d43;
$headline:#333;
$body:#515151;
$fadeGray:#999;
$bodyBg:#F1F3F6;
$lightGrayBg:#f1f1f1;
$border:#f1f1f1;
$bgDark:#232A37;
$white:#fff;
$yellow:#f5a623;

/* Media */
$max-width-800: "only screen and (max-width : 800px)";
$max-width-991: "only screen and (max-width : 991px)";
$min-width-992: "only screen and (min-width : 992px)";
$min-width-1200: "only screen and (min-width : 1200px)";
$min-width-1400: "only screen and (min-width : 1400px)";

/* Classes */
/* Mixin */
@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
  -moz-border-radius: $radius;
  -ms-border-radius: $radius;
  border-radius: $radius;
}

@mixin box-shadow($shadow) {
  -webkit-box-shadow: $shadow;
  -moz-box-shadow: $shadow;
  -ms-box-shadow: $shadow;
  box-shadow: $shadow;
}

@mixin transition($trans) {
  -webkit-transition: $trans;
  -moz-transition: $trans;
  -ms-transition: $trans;
  transition: $trans;
}

@mixin placeholder {
  ::-webkit-input-placeholder {
    @content;
  }

  :-moz-placeholder {
    @content;
  }

  ::-moz-placeholder {
    @content;
  }

  :-ms-input-placeholder {
    @content;
  }
}
